[2020-06-23 18:36] pmbuban commented on #699
Also experiencing this but a lot of issues were closed saying it was previously fixed. Perhaps the bug was reintroduced more recently?

[2020-06-24 03:40] sarmeyer commented on #703
Hi @rockdoctor79 - Can you provide a bit more information about what you're trying to do? How are your images dynamic? This should definitely be possible, so I want to get more info so I can help you! If you have a codesandbox or demo of what you're trying to do, that would be great, too.

[2020-06-24 03:45] sarmeyer commented on #702
Hi @mrsamse - thanks for submitting this question. What behavior are you (or your clients) expecting when the slide is clicked on? What's the general configuration of your carousel and props? If you have a demo or codesandbox I could take a look at, that would be great, too.

[2020-06-24 03:54] sarmeyer commented on #701
Hi @sekonyong - thanks for submitting this question! I see how these props might be confusing. `autoplay` initially determines if the carousel will scroll through slides automatically, then you can further configure this feature by setting `autoplayReverse` to make the slides run "backwards". So the behavior you see is the intended behavior of these two props.

When you say you'd like to have a "c

[2020-06-24 03:55] sarmeyer commented on #697
@esetnik thanks for bringing this to my attention! I'll fix this as soon as I can - otherwise feel free to submit a PR in the mean time!

[2020-06-24 03:56] sarmeyer commented on #684
@p45mark Did the above comment help you solve your issue?

[2020-06-24 04:02] sarmeyer commented on #694
@unicornAppStartup - thanks for submitting that workaround! I am still working on a more permanent solution to the issue in the carousel itself.

[2020-06-24 04:08] sarmeyer commented on #699
@ruslanfarutdinov - thank you for submitting this issue and providing a demo.  How are you determining which slides have which duration? It might be possible to dynamically set `autoplayInterval` depending on the slideIndex (if you know which slideIndex will have which duration). Just a thought for now while I look into this more.

@pmbuban - can you link those issues? I don't think I've heard of

[2020-06-24 13:46] mrsamse commented on #702
Hi @sarmeyer!

Here is my codesandbox for the current case I have: https://codesandbox.io/s/naughty-mclaren-pmeq2
Some of my clients for example didn't swipe the slider but clicked on the number 4 or 2 and then nothing happens. For my case I solved it, by adding a "onClick" listener on all the divs inside the slides, and adding pointer events again to the slides with css.

[2020-06-24 14:41] pmbuban commented on #699
@sarmeyer I'm referencing this wrapAround issue that [discusses the flickering](https://github.com/FormidableLabs/nuka-carousel/issues/654). Not entirely sure if it's related but my issue is the same as what @ruslanfarutdinov mentioned above

[2020-06-25 20:24] melindastanbery opened #705 "Mobile - Zoom Animation Only shows peeking slide with 3 or more slides"
# Bugs and Questions

### Prerequisites

### Describe Your Environment

- What version of nuka-carousel are you using? 4.7.0
- What version of React are you using? 16.8.6
- What browser are you using? Chrome
- What machine are you on? Mac

### Describe the Problem

When you pass the animation prop of "zoom" into the carousel, you see a "peaking" slide when there's 1 responsive slide shown. But tha

[2020-07-01 00:00] ceciliaschiebel commented on #19
[code]
works with Typescript now

[2020-07-07 12:53] ziserman commented on #388
Unfortunately, all of this examples can't work with server-side rendering :(

[2020-07-13 19:49] mrkosima opened #708 "Collapsed carousel on children update (height is 0)"
# Bug

### Prerequisites
Carousel has broken height after children changed.

### Describe Your Environment

- What version of nuka-carousel are you using? - `4.7.0`
- What version of React are you using? - `16.3.1`
- What browser are you using? - `Chrome 83`
- What machine are you on? - `macOS 10.15.5`

### Describe the Problem
On first render (`componentDidMount`), the carousel waits for an image

[2020-07-17 08:46] mrkosima opened #709 "Infinite carousel collapses if slidesToShow=2 and heightMode="current""
# Bugs

### Prerequisites

Carousel collapses with the next configuration:
[code]

https://codesandbox.io/s/nuka-carousel-issue-709-xdn40

![carosel_heightmode_issue](https://user-images.githubusercontent.com/6384121/87767265-af103000-c81a-11ea-89e1-5126b1a042fc.gif)

[2020-07-17 11:24] NishaUttawani opened #710 "Carousel sliding not working properly for odd no. of slides"
# Carousel sliding not working properly for odd no. of slides

### Describe Your Environment

- What version of nuka-carousel are you using? : 4.6.4
- What version of React are you using? 16.13
- What browser are you using? Chrome
- What machine are you on? : Macbook

### Describe the Problem
Facing issue while scrolling with odd of no. of total slides
total slides = 3
slidesToShow = 2
slidesToScr

[2020-07-28 11:15] pratik-walkhade opened #712 "How to increase the size of dots."
Hi,

I was trying to increase the size of the dots of slider by using defaultControlsConfig > pagingDotsStyle.
Can you please help me out.

Thanks and regards,
Pratik W.

[2020-07-28 11:44] shrugal opened #713 "Infinite render loop if frame.offsetWidth is 0 during an update"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using: 4.6.7
- What version of React are you using: 16.13.0
- What browser are you using: Chrome 84.0.4147.105
- What machine are you on: Lenovo Yoga C940, Fedora 32, Linux 5.7.10

### Describe the Problem

The combination of `{ autoplay: true, slidesToScroll: "auto", cellSpacing: 0 }` causes an infinite r

[2020-07-29 16:06] ilya-uryupov commented on #713
Caught the infinite loop also, but without `autoplay, slidesToScroll or cellSpacing`. It seems that hiding/showing the carousel is enough. Although I'm using it with preact and mobx, which can cause some weirdness.

[2020-07-29 19:12] ilya-uryupov commented on #713
Debugged my case and the reasons are `overflow: auto` and scrollbars:
1. initial render
2. image overflows and a vertical scrollbar is added
3. slider recomputes its height to be less than the current
4. in the next render image fits the height without overflow and the scrollbar is removed
5. slider recomputes its height to be greater than the current
6. goto 2.

Created a repro [here](https://cod

[2020-07-30 18:54] kmaid opened #715 "Missing Type def slideOffset zoomScale"
slideOffset is missing from the type def

[2020-07-31 16:17] #715 closed

[2020-07-31 18:11] sarmeyer commented on #499
Hi! I like this idea - I'm wondering if it would make sense to make it configurable, in case someone does not want to disable autoplay after interacting with the carousel. I'm looking at the PR that was submitted today and I'll see how much more work it is to make it a configurable prop

[2020-08-05 22:21] uberska commented on #709
I think I ran into this as well. I tracked it down to `findCurrentHeightSlide` in bootstrapping-utilities.js.

Here's a test that shows the problem:
[code]

That test fails with:
[code]

In the above example, startIndex is computed to be 6 in `findCurrentHeightSlide` (even though there are only 5 slides). When that is passed to `findMaxHeightSlideInRange`, the expression `start > slides.length - 1

[2020-08-06 00:26] uberska commented on #709
I think this fixes it:

[code]

I'll do some more testing and hopefully submit a PR tomorrow.

[2020-08-07 20:02] hagaigold commented on #712
override the below classes:

[code]

[2020-08-13 17:56] #709 closed

[2020-08-16 10:17] phurst-gh commented on #691
This would be really helpful. The documentation claims this already exists, although I can't seem to find it in my uses:

[2020-08-17 02:54] kbhuynh opened #718 "Next/Prev Buttons Disabled"
When wrapAround is set to false, the next and previous buttons are disabled on the last and first slides respectively. Is there a way to prevent this? In other words, can we enable these buttons on those slides?

[2020-08-17 15:41] sarmeyer commented on #691
@phurst-gh which version are you running? Do you have an example demo of your use case? the class can be seen here in the Nuka demo:
![image](https://user-images.githubusercontent.com/18433259/90415022-c2a6f480-e06d-11ea-828c-fed76799107b.png)

[2020-08-17 15:43] sarmeyer commented on #718
Hi @kbhuynh - why would you want to enable them? This is the intended behavior. If you want to enable them, you can set wrapAround to true.

[2020-08-17 15:43] #718 closed

[2020-08-17 15:43] sarmeyer commented on #712
@pratik-walkhade Can you please provide a codesandbox or code sample of your use case and how you are using pagingDotStyle?

Thanks!

[2020-08-17 15:59] sarmeyer commented on #710
Hi @NishaUttawani Yes this is expected behavior - otherwise under these conditions, you would get an "empty" slide shown as the last slide, so when there is an odd number of slides and an even number of slidesToShow and slidesToScroll we don't show this "empty" slide at the end.

[2020-08-17 15:59] #710 closed

[2020-08-17 16:00] sarmeyer commented on #703
Hey @rockdoctor79 I'm going to close this issue since no demo or code sample was provided. The Nuka demo has an example of an array of "slides" mapped over to populate the images, if you'd like to take a look there.

[2020-08-17 16:00] #703 closed

[2020-08-17 16:08] sarmeyer commented on #692
@mmerola84 closing due to inactivity. If this is still an active issue or concern, please reopen with more information. Thanks!

[2020-08-17 16:08] #692 closed

[2020-08-17 16:10] sarmeyer commented on #701
Hey @sekonyong I'm going to close this due to inactivity. If you still have a question regarding these props or other concerns, please reopen with more details about what you expect. Thanks!

[2020-08-17 16:10] #701 closed

[2020-08-17 16:47] sarmeyer commented on #537
Closing due to inactivity - if this is still an issue, please reopen with an example codesandbox or demo of the problem. Thanks!

[2020-08-17 16:47] #537 closed

[2020-08-17 17:20] PHurst1 commented on #691
My apologies, I hadn't had time to come back and edit this post yet. You are right though, I was 1 minor version behind.

[2020-08-17 20:43] sarmeyer commented on #384
I'm closing this due to inactivity - if there is still an issue or concern, please reopen with more information. Thanks!

[2020-08-17 20:43] #384 closed

[2020-08-18 21:33] emmad5 commented on #654
This issue persists for me when using the dots to navigate slides
for example on the given sandbox if you change `wrapAround` to true and then use the dots to navigate to the last slide it flickers white before showing the slide
https://codesandbox.io/s/currying-smoke-c8v2n?fontsize=14&hidenavigation=1&theme=dark

[2020-08-26 14:20] dumitru-buda opened #719 "Properties slideOffset and zoomScale do not exist on type.."
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? >4.7
- What version of React are you using? 16.13.1
- What browser are you using? Chrome
- What machine are you on? MacBook pro mid 2014

### Describe the Problem

I get the following error trying to use slideOffset or zoomScale:
Property 'slideOffset' does not exist on type 'IntrinsicAttributes & I

[2020-08-28 20:51] goatandsheep commented on #696
@doxiaodong can we close this?

[2020-08-29 18:28] LeyliAbbas commented on #461
I did like this:

`renderBottomCenterControls={({ slideCount, currentSlide, goToSlide }) =>
                <div className="slider-control-bottomcenter">
                    <ul>
                        {[...Array(slideCount)].map((e, key) =>
                            <li className={currentSlide == key ? "active" : undefined} key={key}>
                                <button type="button" aria-

[2020-08-29 18:33] LeyliAbbas commented on #461
I did like this:

[code]

And SCSS:

[code]

[2020-09-01 14:38] fmonper1 opened #720 "ShowPartial breaks the navigation dots."
# Bugs and Questions

### Describe Your Environment

React 16.13
Nuka 4.77

### Describe the Problem

I have implemented a slider using NukaCarousel. I use the showPartial to make it more intuivite for users, but when the option is turned on, the last dot in the navigation dots never gets activated.

My custom navigation dots:

[code]

Expected behaviour: https://i.imgur.com/CwTZMcK.gif

Actual be

[2020-09-02 10:51] city17 opened #721 "Easing on Current SlideHeight resizing"
I'm using the Current slide height for the carousel height. This makes the content below move up or down depending on the height of the current slide's image.

Is there any way to make this change in height more smooth? As in an easing animation for the change in height? Because right now it really pops in hard, which doesn't look too good.

For example, [this site](https://wakawaka.world/cylinder

[2020-09-07 06:02] arunpugahz commented on #713
I had this same Infinite render loop but not because of ```{ autoplay: true, slidesToScroll: "auto", cellSpacing: 0 }```
I found out that each Items rendering in the carousel has different heights, Nuka has a piece of code which checks compares the height of the components https://github.com/FormidableLabs/nuka-carousel/blob/b63ca12ab5bfe97266df430a584b40440203e766/src/index.js#L185 which causes r

[2020-09-08 22:23] sarmeyer commented on #719
Fixed in 4.7.1

[2020-09-08 22:23] #719 closed

[2020-09-09 19:19] andieromero commented on #696
Hi thanks for the workaround - how do you add `/node_modules/wicg-inert` in your babel-transformations? @JoviDeCroock

[2020-09-09 21:36] andieromero commented on #696
Thanks! We have several apps that would require a workaround unfortunately. I see you have https://github.com/WICG/inert/pull/157 approved - would this fix the issue?

[2020-09-09 21:49] JoviDeCroock commented on #696
It would yes

[2020-09-15 05:04] yumemi-omi opened #724 "nuka-carousel's demo in top page is broken because `src` is wrong."
nuka-carousel's demo in top page is broken because `src` is wrong.
http://kenwheeler.github.io/nuka-carousel/#/
<img width="1714" alt="Screen Shot 2020-09-15 at 14 02 01" src="https://user-images.githubusercontent.com/38467746/93167703-23544a80-f75c-11ea-8682-15e0a7dfbb2e.png">

Expected
`https://placehold.it/1000x400/ffffff/c0392b/&text=slide1`
Actual
`http://placehold.it/1000x400/ffffff/c0392b/&

[2020-09-17 02:48] aaronpflower commented on #696
Is there a timeline on when this update would be released?

[2020-09-18 21:11] bmueller-sykes opened #725 "`slidesToScroll="auto"` doesn't allow clicking when at the end of a carousel"
React 16.13.1
Nuka Carousel 4.7.1

I first found this problem in Firefox, but now I think it may not be limited to Firefox.

If you have a `slidesToScroll="auto"` set, and then have a carousel configured to show multiple "tiles" at once, then you scroll to the end of the carousel, you cannot click on several of the tiles. If you then change to `slidesToScroll={3}` (or some other number), then when

[2020-09-21 21:44] sarmeyer commented on #724
Hey @yumemi-omi - this isn't a site I maintain or have access to. There is a working demo in this repo if you need one.

[2020-09-21 21:44] #724 closed

[2020-09-21 22:10] sarmeyer commented on #720
Hi @fmonper1 - thanks for submitting this issue. I am trying to reproduce the problem, but I'm having trouble. When I test out your custom PagingDots, I see their styles update correctly when active. I'm thinking I'm missing something...can you provide me with a little more information? What are you setting for `slidesToShow` and `slidesToScroll`? And are you using the `renderBottomCenterControls`

[2020-09-22 10:37] sunr1ze opened #726 "Untyped property "opacityScale" for TypeScript"
There is no type for "opacityScale" in version 4.7.1

[2020-09-23 07:17] fmonper1 commented on #720
Yes, when using the renderBottomCenterControls the slidecount returns a decimal instead of an Int for the current index of the sliders, thus the custom navigation dots not being set to active correctly.

[code]

I could fix this in my projects by rounding the currentSlide so that it returnes and Int

`Math.round(currentSlide) === i && classes.activeDot`

[2020-09-25 16:28] jperegoy opened #727 "Feature Request: lifecycle hook(s)"
### Prerequisites

- [ x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [ x] I have read through the docs before asking a question
- [x ] I am using the latest version of nuka-carousel

### Describe the Problem

There are times when actions need to be taken once the carousel has loaded (`onLoad`), gone through i

[2020-10-01 16:18] bkonkle commented on #726
@sunr1ze Thanks for the heads-up! I've got a PR in to add the property to the definitions.

[2020-10-01 18:15] #726 closed

[2020-10-05 10:56] city17 commented on #721
Solved: You can add transition to the class 'slider-list', like so:

[code]

The only (small) downside is that this animation will also show on entry, not just when changing slides.

[2020-10-07 16:11] wodenx opened #730 "contenteditable element is not editable inside a carousel"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using?  4.7.1
- What version of React are you using? 16.13.1
- What browser are you using? chrome
- What machine are you on? Macbook pro

### Describe the Problem

A contenteditable element does not function inside a carousel

See https://codesandbox.io/s/nuka-carousel-bug-8sp34

**Expected behavior:** [Wh

[2020-10-12 11:58] michielmetcake commented on #688
Any update on this issue?

[2020-10-12 12:08] michielmetcake commented on #688
Found an fix for our issue. Providing a `easing` prop did solve the issue.

[2020-10-14 21:36] bmueller-sykes commented on #725
Nothing on this yet?

[2020-10-15 15:34] sarmeyer commented on #725
Hey @bmueller-sykes thanks for submitting this issue - I haven't had a chance to really dig into it yet, but I'll prioritize it. On my initial pass, it looks like we're assigning visible slides incorrectly for this scenario. There has been some other work done around what to do when slidesToShow and total slide count aren't equally divisible and I think this fits in that bucket.

[2020-10-15 15:50] bmueller-sykes commented on #725
@sarmeyer Thanks for the reply. Yeah, in addition to the above issue, I've noticed some cases where a tile at the edge of the carousel is sometimes not clickable. It doesn't always happen, but it does appear that the `inert` class can get applied to a tile that is entirely (or mostly) visible. I haven't been able to figure out exactly what the conditions are to make that happen. I'm sure the code

[2020-10-15 15:59] sarmeyer commented on #721
Hey @city17 Thank you for submitting this issue and subsequent solution! We'll look into adding this to the Carousel styling. I want to make sure it doesn't cause any unforeseen issues

[2020-10-23 11:42] khmm12 opened #732 "Unable to preventDefault inside passive event listener invocation"
# Bug

### Environment

- nuka-carousel 4.7.1
- react 17.0.1, react-dom 17.0.1

### The Problem

React v17 introduced passive listeners for touch events, which can no longer be canceled via `preventDefault`. At best that's annoying warning, at worst that may produce unexpected carousel behaviour.

[2020-10-27 21:17] MForMarlon commented on #696
Downgrading to v4.6.7 is another workaround solution, if you don't need any of the v4.7 features.

[2020-10-30 18:23] goatandsheep commented on #696
Good news: the fix for inert has been merged and will be released soon!

[2020-11-05 16:29] sarmeyer commented on #720
Fixed in #734 - I'll release EOD tomorrow 11/6/20

[2020-11-06 20:00] #712 closed

[2020-11-10 09:55] shichaohui opened #735 "Prop `tabIndex` did not match. Server: "null" Client: "-1""
# Bugs and Questions

[code]

Get it when using with next.js v9.5.2 .

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest v

[2020-11-12 08:39] Rubendewit opened #736 "Incorrect FunctionalComponent definitions"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? `4.7.2`
- What version of React are you using? `16.13.1`

### Describe the Problem

Updating `nuka-carousel` to version `4.7.2` results in the following error from Typescript:
![nuka-type-error](https://user-images.githubusercontent.com/6596596/98914408-ed67e400-24c8-11eb-8a69-89669e2424d6.png)

Thi

[2020-11-16 14:20] conqueror404 opened #738 "ReferenceError: Element is not defined"
I am using `nuka-carousel` v4.7.2  with `gatsby` v2.22.11  and while building the static website using SSR I get the error that was described previously [here](https://github.com/FormidableLabs/nuka-carousel/issues/658) i.e.

`WebpackError: ReferenceError: Element is not defined`

This is due to the dependency called `wicg-inert`(resolved with v3.0.3) not coping well with SSR.

It seems the issue

[2020-11-17 12:12] Just-focus commented on #732
i have the same problem

[2020-11-18 20:04] roman-veryovkin commented on #725
Hi @acharyakavita, are there any updates on this? Thanks!

[2020-11-18 20:23] acharyakavita commented on #725
Hi @roman-veryovkin ,
I am currently working on this. I am hoping to create a PR by end of this week.

[2020-11-20 16:44] hcientist commented on #681
Seems like at the very least the `role` if not also the `aria-roledescription` should be set [[1](https://www.w3.org/TR/wai-aria-practices-1.1/#carousel)]?

[2020-11-23 23:25] #720 closed

[2020-11-24 18:39] #736 closed

[2020-11-24 21:55] sarmeyer commented on #696
As far as I can tell, Jovi's PR was merged and released in 3.1.0 of WICG/inert - upgrading to that version should fix this issue

[2020-11-24 21:55] #696 closed

[2020-11-24 22:11] sarmeyer commented on #497
hey @davthu! This has been stale for quite a while - has your question been answered?

[2020-11-26 15:05] pkail commented on #14
That seems to be deprecated.  This works:

defaultControlsConfig={{
  prevButtonStyle: {
    opacity: '0',
  },
  nextButtonStyle: {
	opacity: '0'
}
}}

[2020-11-26 15:16] halitogunc opened #741 "ARIA props shouldn't take precedence over the component's child props"
### Describe Your Environment

- What version of nuka-carousel are you using?
4.7.3
- What version of React are you using?
16.14.0
- What browser are you using?
Version 86.0.4240.198 (Official Build) (x86_64)
- What machine are you on?
macOS 10.15.7 (19H2)

### Describe the Problem
Aria props are always overriding component's child props for `aria-hidden` and `tabindex` attributes. Child component

[2020-11-26 20:48] msimla opened #743 "wrapAround, slidesToShow = number of items results in no animation when advancing slides"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using?
4.7.2
- What version of React are you using?
16.10.2
- What browser are you using?
Chrome
- What machine are you on?
MacOS Mojave

### Describe the Problem
When wrapAround is true and slidesToShow and number of items are the same, there is a blank space on the right when advancing to the next slide.

[2020-11-27 08:43] venwidh commented on #678
Same issue here with React 16.14.0.

Just like mentioned above, everything is fine if using version 4.4.4.
looking on the Changelogs of 4.4.5 maybe it is because of this?

[2020-11-30 18:25] #721 closed

[2020-11-30 23:03] #725 closed

[2020-11-30 23:20] #741 closed

[2020-12-02 23:25] #705 closed

[2020-12-04 16:48] jayhack opened #748 "SSR (next.js) & No-JS Support?"
Hey folks!

Our team loves the project and is contemplating using it in an SEO-optimized Next.js app. Two quick questions:

1. Does `nuka-carousel` support SSR?
2. What happens when JS is disabled and the page is SSR'd with`nuka-carousel`?

Thanks in advance!

[2020-12-07 14:31] city17 opened #749 "Video slide height not correct on load"
Hi, I've encountered a problem when you use a video as the first slide. _I'm using the 'current' height mode._

**The height of the first video slide is incorrect, and doesn't adjust automatically**. Only on changing slides or resizing the browser window does it adjust to the correct height. initialSlideHeight doesn't work either.

Any idea why this might be? If I use an image in the exact same se

[2020-12-08 14:48] acharyakavita commented on #738
@conqueror404  I was not able to recreate this issue with the latest version. Is there any specific configuration you are using ? would it be possible for you to share your code snippet?

[2020-12-08 14:49] acharyakavita commented on #735
@shichaohui  I was not able to recreate this issue with the latest version of nuka-carousel. Is there any specific configuration you are using ? Would it be possible for you to share your code snippet?

[2020-12-08 16:06] finbarmaginn commented on #732
Same here, resulting in hundreds of JS errors but seemingly no affect to UX

[2020-12-09 17:24] #749 closed

[2020-12-14 18:11] sarmeyer commented on #686
fixed in v4.7.3

[2020-12-14 18:11] #686 closed

[2020-12-18 18:07] pbesteves opened #752 "Dot count error when slideCount and slidesToShow are the same"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? Latest
- What version of React are you using? 16.9.0
- What browser are you using? Chrome
- What machine are you on? Dell notebook running linux

### Describe the Problem

The problem is fairly straightforward. When the variables `slideCount` and `slidesToShow` have the same value, only one dot is r

[2020-12-18 18:27] pbesteves commented on #752
Closing this issue, since it is not really one. I misunderstood the purpose of the `slidesToShow` prop.

[2020-12-18 18:27] #752 closed

[2020-12-23 14:45] DTAPigeons opened #753 "Partially show unselected slides"
Hello,
I am currently using the carousel to display several react components which are a combination of text and images. Is there a way to implement a behaviour where one component is shown in focus and the next and/or previous components are only partially visible on both sides of the focused component?

[2020-12-23 15:53] sarmeyer commented on #753
Hi @DTAPigeons - you can do this by adjusting the `slidesToShow` prop. By passing a non-whole number (ex 1.25) you will show partial slides. From there you can adjust `cellAlign` to display the slides how you'd like.

Let me know if you have any other questions!

[2020-12-23 15:53] #753 closed

[2020-12-25 13:03] taikongfeizhu commented on #694
it my change the event conditionin the utilities/utilities.js file in **handleSelfFocus** function at  like this:
[code]

[2020-12-29 11:11] cihanbas commented on #693
I have the same problem, but i solved with this code
[code]

[2020-12-30 19:04] #463 closed

[2020-12-30 21:15] sarmeyer commented on #748
Hi @jayhack - thanks for your question! Nuka Carousel does support SSR. From my testing, it doesn't seem as though the Carousel will work with JS disabled. it will render, but the built-in Next and Previous slide methods don't work. It's possible you could implement your own methods with the `render*Controls` props that don't rely on JS to work.

[2020-12-30 21:15] #748 closed

[2021-01-07 23:46] caycecollins commented on #732
In my case I was noticing some UX performance/jank issues due to the console logging (touch and hold then slowly move the slide left/right).

I created a quick patch (using [patch-package](https://github.com/ds300/patch-package) module) to remove the `e.preventDefault()` call in the `onTouchMove` function:

`patches/nuka-carousel+4.7.4.patch`
[code]

[2021-01-26 18:54] carlosmori commented on #171
@sarmeyer Have you tried with cellAlign: 'center' it doesnt seem to work for us using Next js

[2021-01-26 23:53] sarmeyer commented on #171
@carlosmori What other config or props (if any) are you using with Nuka-Carousel? Do you have an example of how the `cellAlign` prop isn't working for you or a sandbox that shows the issue?

Thanks!

[2021-01-28 02:21] ayarmak commented on #694
Hi Team! Any update on this issue? FWIW, only dropping BOTH event.preventDefault AND e.currentTarget.focus() solves it for me, but I wonder if there are any plans to solve it within the package.

[2021-01-28 13:41] carlosmori commented on #171
@sarmeyer check this repo out https://github.com/carlosmori/NukaCarouselNextJs .

The bug occurs like this:

1- Change cellAlign property to 'left' , everything works fine
2- with HMR , change the property to 'center' , everything works fine
3- Refresh the page, it doesnt work anymore. No errors in console, no clue whats happening.

The way I handled to fixed this is by setting props in a useEffec

[2021-01-29 20:38] carlosmori commented on #171
Hey @sarmeyer I think I found another bug :(

In the Repo, I provided before if you comment one of the slides so you have a total of 3 slides when you are in the last slide the previous one disappears. Check this image I attached!

![image](https://user-images.githubusercontent.com/14813009/106324798-8997c080-6258-11eb-800b-01238c1d847c.png)

[2021-01-29 20:54] theredwillow commented on #684
`heightMode={'current'}` doesn't do anything at all for me.

I am using gatsby-images inside of `<a>` external link tags as my slides. Some slides are too big, others are too small and aligned to the top.

Code [here](https://github.com/theredwillow/chili-when-its-chilly/blob/master/src/components/Sponsors/index.jsx), live demo [here](https://chili-when-its-chilly.netlify.app/) (see Sponsors secti

[2021-02-03 20:43] thanhvuong opened #754 "Center mode causes the initial left slide to not show"
### Describe Your Environment

- What version of nuka-carousel are you using?
4.7.5
- What version of React are you using?
17.0.1
- What browser are you using?
Chrome
- What machine are you on?
OSX Big Sur

### Describe the Problem

The Carousel is not working with certain prop values. I stumbled on an old example using a version from awhile back and it behaved as it should. Then, I tried upgradin

[2021-02-11 16:35] psin81 opened #755 "Prev slide appears after a delay when wrapAround={true}"
# Bugs and Questions

### Prerequisites

### Describe Your Environment

- What version of nuka-carousel are you using?
  4.7.5
- What version of React are you using?
- 17.0.1
- What browser are you using?
- Chrome/Safari
- What machine are you on?
Macbook Pro
### Describe the Problem
When wrapAround is set to true then the previous slides take time to appear in the dom. I have my carousel config a

[2021-02-12 09:56] valeriandigital commented on #654
On the last version it still missing drug smooth animation and proper transition time with wrapAround enabled.

[2021-02-15 14:52] psin81 opened #756 "Slider frame height should be calculated as per slidesToShow in case vertical is set to true"
# Bugs and Questions

### Prerequisites

### Describe Your Environment

- What version of nuka-carousel are you using?
- What version of React are you using?
- What browser are you using?
- What machine are you on?

### Describe the Problem

Currently even if we pass `slidesToShow={any_number} ` and `vertical` is set to true, the slider height is by default set to that of the tallest slide. So if

[2021-02-16 13:16] #756 closed

[2021-02-22 15:52] jcpsimmons commented on #732
@caycecollins I'm having the same issue. I've never used `patch-package` before. Tried `npx patch-package nuka-carousel patches/nuka-carousel+4.7.patch` but no luck - could you provide some insight on how to apply this fix?

[2021-02-24 04:11] blopez2010 commented on #732
Do we have an ETA regarding this error?

[2021-02-24 15:33] sarmeyer commented on #732
Hi all - I'm confused what issues this is causing for people. Could someone provide an example of the error(s) they are seeing and/or a sandbox with the issue present? We might be able to safely remove that `e.preventDefault` but I'd like to understand the initial problem a little better first. Thanks!

[2021-02-24 15:47] jcpsimmons commented on #732
@sarmeyer Unable to provide an example from current project but can share the stack trace and detail the behavior a bit more.

- Run slider on React 17
- Every time `onTouchMove` is fired this error logs to the console `Unable to preventDefault inside passive event listener invocation.`
- This happens hundreds of time until the gesture stops, which clogs the console up tons of error messages.

I s

[2021-02-27 20:26] ayozemr commented on #755
Also seein this, any fix?

[2021-03-01 08:22] mutoe opened #758 "React 17 adaptive"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Questi

[2021-03-01 18:27] carlosmori commented on #754
Any update on this ?

[2021-03-01 18:46] sarmeyer commented on #754
Hi @carlosmori thanks for following up on this - I'll take a look today

[2021-03-01 18:51] sarmeyer commented on #754
On a first pass, I don't see any issues with this example:
v4.7.4: (Cell Align works but last slide (Slide 6) is not showing when cellAlign is center and wraparound is true slideToShow is 1.5)
https://codesandbox.io/s/musing-liskov-8jy0j?file=/src/index.js

[2021-03-01 21:09] sarmeyer commented on #754
I think I've pinned down where the issue is happening after some digging - it seems our left-offset `deltaX` isn't being calculated properly on initial load. Strangely, if you use the demo and use state to change the `cellAlign` prop from `left` to `center` this issue isn't present. I'm working on a fix!

[2021-03-02 14:12] carlosmori commented on #754
Thanks @sarmeyer !! We managed to find a workaround in React by setting the cell align center in a useEffect hook

[2021-03-02 16:56] sarmeyer commented on #754
Nice! Yea it's an interesting bug, in the demo Center cellAlign seemingly works because it's usually carried out as a state change after the first mount, but this issue highlighted some flaky tests so it was good to rework those anyways.

[2021-03-02 16:57] #754 closed

[2021-03-02 17:26] sarmeyer commented on #758
Hi @mutoe! Yes, I have a draft PR to upgrade to React 17, however I'm waiting on an enzyme adapter package for v17. More information is detailed here! https://github.com/enzymejs/enzyme/issues/2429

[2021-03-02 17:31] carlosmori commented on #754
Thanks @sarmeyer , amazing carousel! :)

[2021-03-06 10:34] mustafa-synectiks opened #762 "Thumbnail slider functionality with active class on thumbnail"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [ ] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [ ] I have read through the docs before asking a question
- [ ] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-03-09 21:00] carlosmori commented on #755
Me too, trying to find a workaround to it but it seems hard

[2021-03-09 21:25] babsonmatt commented on #755
Looks like this has something to do with waiting for the scroll animation to complete - `disableAnimation: true` eliminates the issue

[2021-03-09 23:57] caycecollins commented on #732
Did you end up getting this to work? If not:
1. Create a folder in your project's root directory called `patches`
2. Create a new file `nuka-carousel+4.7.4.patch` in the `patches` directory and copy/paste the contents from my previous post. Also, note the `4.7.4` version number... if the source code is the same in previous versions it should work, just adjust the version number in the filename.
3.

[2021-03-12 23:09] sarmeyer commented on #762
HI @mustafa-synectiks Could you provide some information about the issue you're experiencing? Thank you!

[2021-03-13 00:08] gingerrific commented on #732
We can actually repro this directly in the CodeSandbox example.

1. Running in Chrome (v89 at time of writing), visit the CodeSandbox [example](https://codesandbox.io/s/silly-rhodes-5pr2i?fontsize=14&hidenavigation=1&theme=dark).
2. Ensure `react` and `react-dom` are versioned at "^17.0.0"
<img width="261" alt="Screen Shot 2021-03-12 at 1 09 27 PM" src="https://user-images.githubusercontent.com/74

[2021-03-15 14:35] mustafa-synectiks commented on #762
I resolved the issue using currentSlide and  slideIndex. Issue I faced was syncing of thumbnails and sliders.

[2021-03-15 14:53] #762 closed

[2021-03-15 19:58] sarmeyer commented on #732
FYI the fix for this (removing preventDefault from the touch event handler) has been released with v4.7.6

[2021-03-25 17:30] jcpsimmons commented on #732
@sarmeyer Awesome thanks so much 🙏

[2021-03-26 12:45] khmm12 commented on #732
Then I can close the issue 👍

[2021-03-26 12:45] #732 closed

[2021-03-26 18:55] mobcoder-kiran commented on #447
The below solution is good until you have radio button inside the slide.  with radio inside card will block radio selection.

.slider-frame{
  pointer-events: none;
}

[2021-03-29 20:01] c7hulhu commented on #758
Any news about this issue with the PR mentioned?

[2021-03-31 17:35] yungkittty commented on #406
This is probably a more convenient workaround depending on your needs :

[code]

[2021-04-09 17:47] santiagosemhan commented on #735
Same here

[code]

[2021-04-13 15:40] abouzeyd commented on #533
hi i'hve same issue i need to help

[2021-04-13 15:42] abouzeyd commented on #533
![Screen Shot 2021-04-13 at 15 42 24](https://user-images.githubusercontent.com/47893442/114581008-e3f8c880-9c6e-11eb-9d20-3d267afa86a1.png)

[2021-04-27 17:22] riceboyler commented on #661
In case somebody else finds this issue, the correct answer is to use `fill` rather than `color`. Like below:

[code]

[2021-04-30 13:34] BaseMax opened #768 "react@"^17.0.1" from the root project, peer react@"^0.14.9 || ^15.3.0 || ^16.0.0" from nuka-carousel@4.7.7"
# Bugs and Questions

### Prerequisites

[code]

[code]

[2021-04-30 23:21] buzzguy opened #769 "ios Safari Swiping Transition Jerky with wrapAround is set to true"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using?
-4.77
- What version of React are you using?
- 17.01
- What browser are you using?
safari
### Describe the Problem

Open safari on phone and open up sandbox link below, then start swiping. The slide will go to the very next one without the normal ease. To get the expected behavior, click "Toggle Wra

[2021-05-09 15:01] peak3d opened #773 "With cell align 'center' the last image is not displayed centered."
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [X] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [X] I have read through the docs before asking a question
- [X] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-05-10 16:58] #758 closed

[2021-05-10 16:58] #768 closed

[2021-05-12 21:05] jeffdc commented on #735
I have this same issue and it occurs because I (and presumably the others having this issue) are all using next.js. The code for the control sets the `tabIndex` to `0` [here](https://github.com/FormidableLabs/nuka-carousel/blob/84b21d648bc69ba2de9f3fc7dd67dd2e007971de/src/index.js#L1169).

This causes an inconsistency when using server-side rendering (SSR) since the `tabIndex` is `null` when rende

[2021-05-13 00:32] irodger commented on #678
The same warning with react 17+

[2021-05-18 06:04] South-Paw commented on #773
@sarmeyer it looks like #760 was a breaking change. I bumped nuka-carousel to `4.7.8` and came across this bug as well.

[2021-05-19 18:54] Galzk commented on #406
[code]

[2021-05-19 20:03] Galzk commented on #406
Ok after some time I've found a somewhat "elegant" solution
I don't completely like it as it's a bit complicated in terms of flow but anyway, here we go:
[code]

Then **outside** of the <Carousel> component render the <input> / <modal> or any other interactive component, and portal it in:
[code]

So, end result should look something like:
[code]

[2021-05-25 09:59] callmemonky commented on #773
Facing the exact same problem.

![image](https://user-images.githubusercontent.com/25193916/119479104-eec67300-bd6d-11eb-9e37-91d1148cb7cc.png)

[2021-05-28 08:39] JoReavell opened #778 "AnnounceSlide doesn't work if autoplay=true"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-06-01 15:09] DGafetdinov commented on #406
why is the issue closed? the problem is still being reproduced!

[2021-06-05 01:13] samuelgoldenbaum commented on #768
This is still an issue due to [react-move](https://github.com/sghall/react-move/blob/master/package.json) dependencies.

[2021-06-08 17:47] digilou opened #780 "Carousel Accessibility: navigation dots"
# Bugs and Questions

## Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

## Describe Your Environm

[2021-06-11 22:48] digilou opened #782 "Accessibility: No clear mechanism to pause carousel"
# Bugs and Questions

## Prerequisites

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

## Describe Your Environment

- What version of nuka-carousel are you using? 4.7.5
- What version of React ar

[2021-06-13 13:39] andtos90 opened #783 "Peer dependency issue with npm 7 and React 17"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-06-16 15:49] bhimeshchauhan opened #784 "Is there a way to get the current visible components on the carousel?"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [X] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [X] I have read through the docs before asking a question
- [ ] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-06-17 20:09] sarmeyer commented on #784
Hi @bhimeshchauhan thanks for the question - a `slide-visible` class is added to any carousel slide that is currently visible. If you're hoping to target currently visible slides, you could use that class to do so. I hope this answers your question

[2021-06-17 20:30] sarmeyer commented on #783
@andtos90 thanks for submitting this - I've got a PR up to update react-move and resolve the peer dep issue
#785

[2021-06-17 20:30] #783 closed

[2021-06-17 20:39] sarmeyer commented on #782
Hi @digilou thank you so much for writing in with this request. It is already possible to do this with the `autoplay` prop and the current demo has an example of controlling whether the carousel is "paused" or "playing" using react state. You can style and customize something similar in your implementation of Nuka Carousel that will fit your needs and a11y requirements

[code]

[2021-06-17 20:39] #782 closed

[2021-06-17 20:42] #780 closed

[2021-06-17 21:07] digilou commented on #782
Thanks for clearing that up for me @sarmeyer.

[2021-06-18 16:19] sarmeyer commented on #778
Hey @JoReavell thank you for submitting this issue! I spent some time on this yesterday. it isn't as easy of a fix as I was hoping. I am doing some refactoring that I hope will allow us to implement this properly.

[2021-06-23 11:28] manojVivek opened #786 "Support `vw` and `vh` based values for `initialSlideWidth` and `initialSlideHeight` props for a better server-side rendering support"
# Feature Request

### Describe the Problem
This is a request to add support for `vw` and `vh` based values for `initialSlideWidth` and `initialSlideHeight` props.

### Background
The pixel-based value for `initialSlideWidth` and `initialSlideHeight` props is a real blocker for server-side rendered applications that too when implementing custom designs that vary based on the user's device viewport

[2021-06-26 09:04] bn-l commented on #735
Having the same issue. Also using nextjs. The issue only occurs on the scroll transition setting (the default). Not on scroll3d or fade.

[2021-07-02 12:04] ivansky commented on #786
At least it should not set width = 0 for slide because it cannot calculate it on server,
It does not make any sense.

[2021-07-02 18:43] markphilpot opened #787 "Memory Leak - touchmove event listeners"
### Describe Your Environment

- What version of nuka-carousel are you using? **4.7.8**
- What version of React are you using? **16.10**
- What browser are you using? **Chrome**

### Describe the Problem

Then handling of `touchmove` event listeners produces a memory leak as they are never cleaned up.

[code]

Because the `blockEvent` function is recreated every time the method is run, the `unlock

[2021-07-07 16:17] allypalanzi commented on #784
I'm trying to also do something like this, and I noticed that the `cellSpacing` seems to also be factored in to if a slide receives the `slide-visible` class. So even when a slide is fully in-view, if it's margin is not, it will not receive the slide-visible class.

[2021-07-07 16:30] markphilpot opened #789 "Memory Leak - InertManager retaining references all detached dom elements"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? 4.7.8
- What version of React are you using? 16.10, 17.x
- What browser are you using? Chrome

### Describe the Problem

`wicg-inert` polyfill seems to be retaining a reference to all `Detached HTML*Elements` that enter it's system (I'm assuming it's all DOM elements with `inert` set to true. Any re

[2021-07-07 16:49] bhimeshchauhan commented on #784
Hi, @sarmeyer I apologize for the late response. Your solution makes sense but this solution might not be very scalable in case we have multiple carousels on the same page. Having a reference to the children component at the very least would help.

[2021-07-07 20:58] allypalanzi opened #790 "when `scrollMode="page"` and there is a slideWidth set as a string, or a cell spacing set, the carousel errors"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-07-07 21:44] sarmeyer commented on #787
Good call out, @markphilpot - how are you testing the mount/unmount cycles of the carousel?

[2021-07-07 22:01] markphilpot commented on #787
Using `react-router`

Page A -> 2 carousels, 9 items for each, 3 of which are visible
Page B -> Empty Page

Navigating back and forth between the two pages. Every render of Page A adds two handlers to `document`'s `touchmove` event listener.

[2021-07-13 16:36] #787 closed

[2021-07-14 15:58] allypalanzi commented on #790
Just upgraded to latest and still seeing this issue

[2021-07-14 16:37] sarmeyer commented on #790
Hi @allypalanzi - I haven't had a chance to get to this issue yet so it isn't included in the latest release

[2021-07-14 16:49] allypalanzi commented on #790
I just wanted to note that it was still a problem! Thanks for responding. I'm also cloning the repo and looking into this to see if I can help

[2021-07-14 17:03] allypalanzi commented on #790
I am able to reproduce in this repo when I add this test:
[code]

I do not get an error if I don't have a slideWidth though, so some combo of scrollMode and slideWith is causing the issue

[2021-07-14 17:13] sarmeyer commented on #790
Awesome! thank you for those reproduction steps - that's a great test to add either way

[2021-07-14 20:19] allypalanzi commented on #790
Looks liked it works if slideWidth is a number and not a string, but it still happens if I have a cellSpacing and a slideWidth

[2021-07-20 10:56] amit0shakya opened #792 "How to play carousel in loop??"
I can't get how to configure it to run slides automatically in endless loop

[2021-07-20 16:10] sarmeyer commented on #792
Hi @amit0shakya - to run slides in a loop set `wrapAround` and `autoplay` props to `true`

[2021-07-20 16:10] #792 closed

[2021-07-22 07:05] South-Paw commented on #773
Almost been 2 months now since it was broken and not even so much as a reply from a maintainer.

[2021-07-31 09:58] zzkaqq opened #793 "When `slidesToScroll="auto"` and `cellSpacing={10}` are set at the same time, the page will crash"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-07-31 23:53] sarmeyer commented on #773
I'm curious if anyone has any other examples of their prop configuration - after playing around with the sandbox, it seems the width set on each slide element in addition to the `slideWidth` prop was causing some issues from the first example. The `scrollMode` prop is also helpful here - setting it to `page` will show white space at the end of the carousel (it defaults to `remainder` which will sc

[2021-08-01 00:40] sarmeyer commented on #793
@zzkaqq I'm able to replicate your issue in a sandbox. I'd like to understand your implementation a bit more - What is your intention with `slidesToScroll`? this prop is used to always scroll the current number of visible slides, but I don't see you showing more than 1 slide at a time in this example.

[2021-08-01 02:43] South-Paw commented on #773
Hi @sarmeyer, thanks for your reply. I tried setting the `scrollMode` prop to `page` as you suggested and the white space at the end of the carousel has reappeared 🥳

If it helps, the prop configuration for my carousel (before adding `scrollMode`) was:

[code]

[2021-08-01 14:14] sarmeyer commented on #773
does scrollMode solve this issue for you? It appears to me cellAlign is working as expected

[2021-08-02 09:26] South-Paw commented on #773
Yes, `scrollMode` being set to `page` resolves the issue thanks.

[2021-08-12 15:58] bhimeshchauhan opened #795 "Dynamic slides ignores scroll animation"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [X] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [X] I have read through the docs before asking a question
- [ ] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-08-12 16:00] LorepRocks commented on #681
Any updates on this? I'm experiencing some issues with the screen reader

[2021-08-26 13:16] SKcbe opened #797 "Unable to append the nav button events for the dynamically rendered buttons, also is there any navContainer option available?"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [ ] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [ ] I have read through the docs before asking a question
- [ ] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-09-17 14:09] XavierMeunier commented on #681
A start could be to implement `aria-selected="true"` to button under the `active` li.

[2021-09-19 13:17] ToshaM opened #798 "BIG timer problem"
if you leave the page with the carousel for a while in the open tab and return, for example, after 3-4 hours to the page, it hangs tightly !!

Reason found

![photo_2021-09-19 16 16 22](https://user-images.githubusercontent.com/48929372/133928949-ee324931-5ea8-42ca-b316-20c849e90620.jpeg)

**please fix it**

[2021-09-20 23:31] sarmeyer commented on #681
Hi all - I am opening a PR with some updates to hopefully improve accessibility of Nuka. I tested with the built in macOS screen reader, but of course I would love feedback from others.

Have you tried using the `renderAnnounceSlideMessage` prop to pass in a custom screen reader message? A default one is provided, but you can also pass in your own.

Check out the PR here: https://github.com/Formid

[2021-09-21 17:14] #681 closed

[2021-09-23 15:49] ToshaM commented on #798
Please tell me, how i can fix it?

[2021-10-06 09:54] kush-daga commented on #798
I'm facing a similar issue in my application, I keep getting Violation setTimeout took `x` miliseconds (once my application un freezes) , which can range from 100ms to even 270seconds, and my application freezes if I come back. Been trying to debug what is causing this in my application, and I just removed the Nuka carousel part of the code, which I think might be the culprit, it seems somehow rel

[2021-10-15 06:46] Galzk commented on #406
I think the issue I faced was that I was not able to select text or click a certain position specifically

If you have the same issue, try my method as it works as expected :)

[2021-10-18 21:52] hsource commented on #798
#804 is a quick fix that limits the number of times the setTimeout block will execute per carousel. The best fix would be probably to:

1. Wrap each child component in a div that has a ResizeObserver attached
2. When the size of each child is measured, it sets a state variable that can then be used to re-measure the height

[2021-10-21 15:08] eloisetaylor5693 opened #806 "Is it possible to make the paging dots clickable using this library?"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? `"nuka-carousel": "^4.6.0",`
- What version of React are you using? `"react": "^17.0.1",`
- What browser are you using?  Chrome, FF, Safari

### Describe the Problem

The dots aren't clickable on the carousel.  I would like to be able to click the pagination dots, and the slide for the corresponding

[2021-10-22 14:14] #806 closed, assigned to nobody

[2021-11-09 13:52] satinP opened #809 "First image not rendering at left side when having three images"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-11-15 17:11] renanrider commented on #793
Hi, thanks for this libray. I am with the same bug here

Describe Your Environment

    What version of nuka-carousel are you using?
    v4.8.1
    What version of React are you using?
    17.0.2
    What browser are you using?
    Firefox 94.0.1 (64-bits)

Describe the Problem

When cellSpacing > = 10, memory starts increasing until browser crashes, if you remove cellSpacing or decrease the value

[2021-11-19 15:17] ValGeorgiev commented on #809
Hey @satinP, thanks for raising this issue with us. I raised a PR to fix this weirdo 🤞 ☝️

[2021-11-19 16:26] #809 closed

[2021-11-22 09:59] ValGeorgiev commented on #797
Hey @SKcbe can you give us more information about the issue, so we can help with resolving it. Also providing sandbox to reproduce the issue it will be great. Thanks

[2021-11-22 11:31] ValGeorgiev commented on #795
Hey @bhimeshchauhan, can you provide a sandbox or public repository where we can reproduce the issue, please. Thanks for raising this with us.

[2021-11-23 12:48] ValGeorgiev commented on #786
Hey @manojVivek, thanks for raising this with us. I did some tests these days and tried different approaches with vh and vw. Unfortunately there is no easy fix for this with the current architecture and the main reason for this is the absolute positioning. The main reason to have `initialSlideWidth` and `initialSlideHeight` is because of position: absolute, so we can have some width/height until t

[2021-11-24 14:14] ValGeorgiev commented on #790
Hey @allypalanzi. Thank you for raising this and for provided unit test. I did a PR with a fix. The issue should be resolved in the next version.

[2021-11-24 15:51] #790 closed

[2021-11-25 10:04] ValGeorgiev commented on #755
Hey @psin81 , thanks for submitting this issue and sorry for the late response. I tried to reproduce it  with the latest version but I am not able to. Can someone else confirm that this is fixed as well?

[2021-11-26 10:02] manojVivek commented on #786
@ValGeorgiev Yeah, I agree. I tried as well, with the current architecture, it is too hard to accommodate `vw`/`vh` based values for the `initialSlideWidth` and `initialSlideHeight`.

It is good to know that there are plans to migrate the architecture. Please let me know if we track that work in some place, I would like to contribute to the code/idea. The library should focus on allowing native `C

[2021-11-26 10:37] ValGeorgiev commented on #786
@manojVivek we are on the same page here. I will create a separate ticket and will try to summarise what needs to be done for migrating out of position absolute. Thanks for your collaboration so far!

[2021-11-26 13:39] ValGeorgiev opened #814 "[v5.0.0] Refactor carousel slide positioning"
## Describe the Problem
In v4 all the slides are positioned absolute, this is causing a lot of issues like responsiveness and SSR.

The potential solution is to use `width` and `translate3d`. This will resolve the issues with SSR that we currently have and will make the `initialSlideHeight` and `initialSlideWidth` obsolete.

Feel free to share any ideas here so we can discuss them together.

[2021-11-26 13:51] ValGeorgiev opened #815 "[v5.0.0] Remove default slide width"
## Description

Currently in v4 the carousel slide width is set to 0 if no initialSlideWidth prop is provided. This is causing issues on SSR and prevents css calculation on the server, so the user should always set initial width in pixels.

[2021-11-26 13:59] ValGeorgiev commented on #738
I tested and added an example with nextjs in the repository and I wasn't able to recreate the issue, so I am closing this due to inactivity, feel free to reopen it if you observe the issue again. And we will help you resolve it. Thanks

[2021-11-26 13:59] #738 closed

[2021-12-01 13:04] JamesHemery commented on #735
Hi @ValGeorgiev,

Any idea when V5 will be released ?

Thank you !

[2021-12-01 13:24] ValGeorgiev commented on #735
Hi @JamesHemery, we are working very hard to release v5 and fix such issues as soon as possible. I think it will be the beginning of January we will release the beta version of v5. But it depends how the work is going.

[2021-12-03 19:12] ValGeorgiev commented on #793
Hey @zzkaqq thanks for rising this with us. The issue should be fixed in the latest v4.8.4. Please feel free to reopen this if you still see the bug

[2021-12-03 19:12] #793 closed

[2021-12-08 17:31] allypalanzi opened #821 "Slides with interactive elements fail accessibility when off screen"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2021-12-10 08:49] ValGeorgiev commented on #821
Hey @allypalanzi thanks for raising this with us. I will include this issue to the roadmap for nuka v5.

[2021-12-13 20:27] clmcdonald commented on #755
@ValGeorgiev I have reproduced the same exact issue except it is the forward button instead of the previous button. Reproduction is here: https://github.com/clmcdonald/nuka-carousel-bug-reproduction

[2021-12-13 21:22] ValGeorgiev commented on #755
@clmcdonald I can reproduce it as well. Thanks for letting us know. This will be fixed in the new version v5. A little bit of context: Currently the slides are absolute positioned and the animation is impossible to be smooth because there are only 3 elements in the dom, so we are moving them when you go next/prev. Thats why we see this flickering. We are rewriting the whole library with typescript

[2022-01-18 16:37] vaishal commented on #778
Fixed in v5, will close this when it is released.

[2022-01-31 09:54] SKcbe commented on #797
@ValGeorgiev Animation is not working for prev navigation when on fist slide and next navigation when on last slide, if we set wraparound true

[2022-02-01 15:45] allypalanzi opened #847 "When multiple slides are in view, visible slides are still `aria-hidden`"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-02-01 21:47] csmith17-chwy opened #848 "Pinch to Zoom Touch Action freezes on image"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-02-02 12:16] ValGeorgiev commented on #847
Hey @allypalanzi, thank you for raising this issue with us. I just tested it with v5 and it's not reproducible there. We are working hard to release it asap and have this functionality on place.

[2022-02-17 12:41] ValGeorgiev commented on #814
This is done and released, closing this one.

[2022-02-17 12:41] #814 closed

[2022-02-17 12:42] ValGeorgiev commented on #815
This is implemented and released with v5, closing it

[2022-02-17 13:07] ValGeorgiev commented on #778
Hi @JoReavell, I believe this issue is fixed and released with v5. I will close it for now, feel free to reopen it you have any questions.

[2022-02-17 13:07] #778 closed

[2022-02-17 13:20] ValGeorgiev commented on #786
@manojVivek This is fixed in v5 and released. Thank you for raising this issue with us. I will close it now, feel free to reopen it or raise another if you have questions or found an issue

[2022-02-17 13:20] #786 closed

[2022-02-17 13:23] ValGeorgiev commented on #773
Hi all, this issue should be fixed with v5, here is an [example ](https://nuka-carousel.vercel.app/?slides=6&params=%7B%22slidesToShow%22:3,%22cellAlign%22:%20%22center%22%7D). I will close it for now.

[2022-02-17 13:23] #773 closed

[2022-02-17 13:26] ValGeorgiev commented on #755
Hi all, this issue should be fixed in v5. [Link with example](https://nuka-carousel.vercel.app/?slides=6&params=%7B%22wrapAround%22:true,%22slidesToShow%22:3%7D). I will close it for now, please feel free to raise other issue if you can still reproduce it.

[2022-02-17 13:26] #755 closed

[2022-02-17 13:28] ValGeorgiev commented on #735
Hi all, this issue is fixed and released with v5. Here is an [example](https://nuka-carousel.vercel.app/?slides=6&params=%7B%22wrapAround%22:true,%22slidesToShow%22:3%7D). Please feel free to reopen this one or raise another issue if you have any questions or concerns. I will close this now

[2022-02-17 13:33] ValGeorgiev commented on #743
Hi @msimla, Thank you for raising this with us. I can say that we finally has a fix for it. Here is an [example](https://nuka-carousel.vercel.app/?slides=3&params=%7B%22wrapAround%22:true,%22slidesToShow%22:3%7D). I will close this for now. Feel free to raise another issue if you have any feedback for us.

[2022-02-17 13:33] #743 closed

[2022-02-17 13:42] ValGeorgiev commented on #520
Hey all, v5 is now released, and you can install and use it. Here is a comparison between v5 and v4

v4
![image](https://user-images.githubusercontent.com/12056467/154492830-1d921b1a-8e97-4f1a-bbbc-1f519cc9d755.png)

v5
![image](https://user-images.githubusercontent.com/12056467/154492786-619b11cc-8567-4c19-ad3b-64bb4bd0df88.png)

There is 0 dependencies in v5 (for now). In the near future we will

[2022-02-17 13:42] #520 closed

[2022-02-23 08:07] Abhay7845 commented on #245
hide previous and next button from Carousel  in react JS

<Carousel controls={false}  interval ={null} >
//code statements
</Carousel >

[2022-02-23 13:51] Amit-Kaplan opened #852 "slider-container has hardCoded padding"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [X] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-02-24 09:10] ValGeorgiev commented on #852
Hey @Amit-Kaplan thanks for this, I will look to submit a PR today and tomorrow about that.

[2022-02-24 13:34] musindo commented on #701
Hi @sekonyong i have 4 images in my Carousel, when the slider reaches the last image it stops. I tried using use autoplay and wraparound but still same behaviour

[2022-02-24 13:42] musindo opened #853 "Images not sliding continuously"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-02-24 13:43] musindo opened #854 "Images not sliding continuously"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [ ] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [ ] I have read through the docs before asking a question
- [ ] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-02-24 15:00] ValGeorgiev commented on #701
Hey @musindo. Can you give me more details, like which version of nuka-carousel you are using. What properties you are passing and etc. Sandbox or github repo will do the job as well.

[2022-02-24 15:05] musindo commented on #701
hi @ValGeorgiev

Unfortunately i am still running it on my local machine. I hope the following will be helpful.

`<Carousel
      autoplayInterval={3000}
      autoplay={true}
    wraparound={true}

- nuka-carousel: 4.8.4
- react: 17.0.2
- Chrome

[2022-02-24 15:36] musindo commented on #701
@ValGeorgiev that was it thank you so much i had spend hours

[2022-02-24 15:39] ValGeorgiev commented on #853
I am closing this as its not an issue. More info here https://github.com/FormidableLabs/nuka-carousel/issues/701

[2022-02-24 15:39] #853 closed

[2022-02-24 15:40] ValGeorgiev commented on #854
I am closing this as its not an issue. More info here https://github.com/FormidableLabs/nuka-carousel/issues/701

[2022-02-24 15:40] #854 closed

[2022-02-28 14:29] drewdoesdev opened #855 "Issues with nested instances of carousel"
# Bugs and Questions

### Describe Your Environment

- Nuka Carousel Version: 4.8.4
- What version of React are you using: 16.13.1
- What browser are you using: Google Chrome

### Describe the Problem

I have a situation where I have 2+ instances of Nuka  Carousel that are nested in each other (so I have an outer carousel and each slide in that array is a React component which themselves have inst

[2022-02-28 14:35] drewdoesdev commented on #855
Closing issue as I believe for my use case, I can simply turn off dragging for the inner carousel.

[2022-02-28 19:20] nnmrts opened #856 "Doesn't work in Deno with React SSR"
This is an upstream issue of https://github.com/WICG/inert/issues/178, but I wanted to point it out here because https://github.com/WICG/inert doesn't really seem to be actively maintained.

So the only fix for this inside nuka-carousel would be to remove the dependency.

[2022-03-01 07:30] ValGeorgiev commented on #856
Hey @nnmrts you can use nuka-carousel@5.0.2 which doesn't have any dependencies and the inert should be included by the users if they want to use it. Also v5+ is supporting SSR. Please let me know if you still has the issue after upgrading.

[2022-03-01 15:39] Konserwa203 opened #859 "Accessibility bug"
Hi, I'd like to report one accessibility bug:

1) There is a wrong property on paging-items: aria-selected

According to documentation there should be aria-pressed property instead.
https://www.levelaccess.com/how-not-to-misuse-aria-states-properties-and-roles/

[2022-03-03 14:27] ValGeorgiev commented on #856
I am closing this for now, please let me now if you still have an issue

[2022-03-03 14:27] #856 closed

[2022-03-03 14:28] ValGeorgiev commented on #852
This should be fixed with v5.0.3. Please reopen and let me know if you still have this issue.

[2022-03-03 14:28] #852 closed

[2022-03-03 14:42] ValGeorgiev commented on #713
This should be fixed in the version 5+. You can install and test it with `npm install nuka-carousel@5.0.3`. Thanks for raising this issue with us.

[2022-03-03 14:42] #713 closed

[2022-03-03 18:11] nnmrts commented on #856
@ValGeorgiev Sorry for not answering before. I am pretty sure I used nuka-carousel when this issue came up but I can check it out and try to make a reproduction repository on the weekend.

[2022-03-07 07:43] ValGeorgiev commented on #856
@nnmrts please let me know how this went. Feel free to reopen it if it's still reproducible and I can work on a fix

[2022-03-08 14:16] ValGeorgiev commented on #859
Hi @Konserwa203, thanks for raising this with us. I am not 100% convinced that `aria-pressed` is the more appropriate property for the paging items. As in the docs is described, `aria-selected` is `This attribute is used to indicate which elements within single-selection and multiple-selection composite widgets are selected.` [link](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/A

[2022-03-08 14:20] ValGeorgiev commented on #848
Hi @csmith17-chwy, could you verify the issue with nuka-carousel v5, please, here is some [brief documentation](https://github.com/FormidableLabs/nuka-carousel/tree/main/src-v5#v5-nuka-carousel). TBH I cannot reproduce it, so it will be great someone to reconfirm. Thanks for raising this with us

[2022-03-09 07:42] #859 closed

[2022-03-11 10:10] David245M opened #863 "Discrepancy of npm and github v5.0.5 versions"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-03-11 13:32] ValGeorgiev commented on #863
Hey @David245M Thanks for raising this with us. I just fixed it and released a new version v5.0.6. Here is a [link](https://unpkg.com/nuka-carousel@5.0.6/lib-v5/carousel.js). I will close this now, feel free to reopen it.

[2022-03-11 13:32] #863 closed

[2022-03-14 15:56] #848 closed

[2022-03-15 16:55] emish89 opened #865 "Issue with scroll3d transitionMode in v5"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-03-23 12:16] ValGeorgiev commented on #865
Hey @emish89, sorry for the delayed response. Did you try using animation: "zoom" property? We are lacking on documentation about v5 and a proper migration guide, but I am working on it. Here is a link with an [example](https://nuka-carousel-next.vercel.app/?slides=6&params=%7B%22wrapAround%22:true,%22slidesToShow%22:3,%22animation%22:%20%22zoom%22,%20%22cellAlign%22:%20%22center%22%7D)

And the c

[2022-03-25 08:54] ValGeorgiev commented on #797
Hi @SKcbe, thanks for raising this with us. This should be fixed now with v5. You can test it [here](https://nuka-carousel-next.vercel.app/?slides=6&params=%7B%22wrapAround%22:true,%22slidesToShow%22:3%7D). I will close it, please open another issue if it's still reproducible for you.

[2022-03-25 08:54] #797 closed

[2022-03-25 09:15] ValGeorgiev commented on #769
Hey @buzzguy, thanks for raising this with us. Could you try with the new version v5, please? I am not able to reproduce it with iPhone 10 - latest iOS on safari. Here is a [link](https://nuka-carousel-next.vercel.app/?slides=6&params=%7B%22wrapAround%22:true%7D)

[2022-03-27 16:14] #769 closed

[2022-03-27 16:35] ValGeorgiev commented on #678
Hey @Luis-Palacios, I cannot reproduce this anymore with v5. Could you try again and let me know if there is still an issue, please? I will close this for now. Feel free to reopen it

[2022-03-27 16:35] #678 closed

[2022-03-27 16:53] ValGeorgiev commented on #688
Hey all, I cannot reproduce this issue with the latest version v5.0.7. I will close this issue for now, please feel free to reopen it if the issue is still reproducible. You can test it [here](https://nuka-carousel-next.vercel.app/)

[2022-03-27 16:53] #688 closed

[2022-03-31 15:54] dohomi commented on #865
How is it possible to do any different animation instead of slide? I tried ease property but did not see any difference on the slider animation. @ValGeorgiev is the source code of the example visible somewhere`

[2022-04-01 06:23] ValGeorgiev commented on #865
Hey @dohomi, I am looking to update the v5 documentation early next week and add more examples. Maybe later the week I need to finish the migration guide from v4 to v5. Currently there are 3 types of animations that nuka-carousel v5 is supporting. Regular slide, zoom slide and fade. You can enable `zoom` or `fade`, by adding `animation={'zoom'}` or `fade` property.

The nextjs example can be found

[2022-04-01 09:24] dohomi commented on #865
thanks @ValGeorgiev for your reply. I try to migrate away from Swiper.js and found your library so I was wondering if it would fit the need. Especially the effects bound me to that library that was the reason why I looked into the easing (even though I don't know if that goes into the same direction).

I will keep an eye open for the new documentation. Thanks!

[2022-04-05 15:06] tamdao opened #869 "Vertical mode not working"
I try to use this lib with vertical mode is true. But it work the same with vertical mode is false

[code]

[2022-04-05 17:36] ValGeorgiev commented on #869
Hey @tamdao, nuka-carousel v5 is not supporting vertical carousel yet. We have a ticket for this and it's the main priority for v5.1. If you want to use the vertical carousel now you need to install v4.8.4. `npm install nuka-carousel@4.8.4`

[2022-04-05 20:24] rngyn opened #870 "Some slides only render when animation is complete if multiple slides are shown at once"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-04-06 06:00] ValGeorgiev commented on #870
Hey @rngyn, this is fixed with v5. Please use the latest version. [Demo](https://nuka-carousel-next.vercel.app/?slides=6&params=%7B%22slidesToShow%22:2,%22cellAlign%22:%20%22center%22%7D) . I will close this issue, please let me know if you have any questions

[2022-04-06 06:00] #870 closed

[2022-04-06 06:17] ValGeorgiev commented on #870
Hey @rngyn definitely agree and this is my fault. I am currently preparing a documentation update (I will create a PR today) and maybe later this week I will prepare quick migration guide. On the heightMode="current" I would use `animation="zoom"` instead. Here is a [demo](https://nuka-carousel-next.vercel.app/?slides=6&params=%7B%22wrapAround%22:true,%22slidesToShow%22:3,%22animation%22:%20%22zoo

[2022-04-06 16:23] rngyn commented on #870
Thanks for the suggestion @ValGeorgiev. Unfortunately the zoom animation doesn't fit my needs. Here's how I need to use the carousel with heightMode="current":

- Animation needs to be 'fade'
- Each slide is a different height, so I need the carousel to dynamically change heights for each slide. This will move surrounding components around with it. This is why heightMode="current" fit my needs.

I

[2022-04-07 06:51] ValGeorgiev commented on #869
I will close this for now, as it's a known issue in v5. If you want to use vertical carousel you can use v4 or wait for v5.1

[2022-04-07 06:51] #869 closed

[2022-04-07 07:25] tamdao commented on #869
@ValGeorgiev Thanks for quick reply. I have tried to use v4.8.4 and got another issue related to transition to another slide when I use `autoplay` property. It show black screen

I need to add `autoplayReverse` to fix this. Do you have any solution for this?

[2022-04-07 07:45] ValGeorgiev commented on #870
Hey @rngyn I missed your comment, sorry. Demo will be very useful yes. I think this should work out of the box.. In the v4 we fixed and manipulated the height of the slides, thats why heightMode was useful. In v5 we are not doing this, so the carousel should render the images/slides depending on their height.

[2022-04-07 15:39] ValGeorgiev commented on #870
@rngyn Thanks for raising this with us. I will have a look tomorrow if we can fix it easily, otherwise it will be added to our v5.1 backlog. I will come back to you tomorrow

[2022-04-08 03:46] jckli opened #874 "Disable vertical scrolling when swiping on the carousel on a mobile device"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-04-08 06:09] ValGeorgiev commented on #874
Hey @jckli, thanks for raising this with us. Could you attach a short demo, so we can test it and address the issue, please? Thanks

[2022-04-08 07:20] jckli commented on #874
I don't want to send a video, as I don't really want to show the website publicly. But basically I'm talking about how on mobile devices, its not easy to swipe completely straight and see the next image and instead accidentally swiping a tiny bit diagonally, causing the website to scroll a tiny bit up or a tiny bit down, which is quite annoying.

I'm not sure whether or not this is already covered

[2022-04-08 07:22] ValGeorgiev commented on #870
Hey @rngyn I created a [PR](https://github.com/FormidableLabs/nuka-carousel/pull/875) to add `adaptiveHeight` property in nuka. It will be deployed to v5.0.9 soon

[2022-04-08 19:36] daxamayac opened #876 "Install with React V18.0.0"
# Bugs and Questions

### Prerequisites
- React project with version 18.0.0

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuk

[2022-04-09 06:40] #876 closed

[2022-04-09 07:01] ValGeorgiev commented on #876
Hey @daxamayac Thanks for raising this with us. We just released a new version v5.0.9 and this should be fixed there. Please let me know if you still has issues.

[2022-04-09 07:02] ValGeorgiev commented on #870
v5.0.9 is live, please check the `adaptiveHeight` property!

[2022-04-09 07:04] ValGeorgiev commented on #865
Hey all, the documentation about v5 is updated, please check the Readme. I am working on the migration guide from v4 to v5. I hope I can publish it next week.

[2022-04-10 19:17] ValGeorgiev commented on #694
Hey all, sorry for the short delay 😄 but the fix is coming #878 and it will be released soon. Thank you for your patience.

[2022-04-11 08:08] #694 closed

[2022-04-11 08:38] ValGeorgiev commented on #694
This issue should be resolved in v5.0.10

[2022-04-12 23:45] daxamayac opened #879 "Bug with React 18, (infinity, cellSpacing, flicker)"
# Bugs and Questions

### Prerequisites
- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Environment

- What version of nuka-carousel are you using?
5.0.10
- What version of React

[2022-04-13 06:06] ValGeorgiev commented on #879
Hey @daxamayac, thanks for raising this with us. I am able to reproduce the bugs with the StrictMode. I will try to ship a fix asap.

[2022-04-14 21:07] geoffharcourt opened #881 "adaptiveHeight is missing in Typescript definitions"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-04-15 13:06] #881 closed

[2022-04-15 13:09] geoffharcourt commented on #881
Thanks for the quick fix @ValGeorgiev!

[2022-04-15 13:11] ValGeorgiev commented on #881
@geoffharcourt I was just going to put a message here. :D It should be fixed with v5.0.12. Thank you for raising this with us.

[2022-04-15 15:52] geoffharcourt opened #884 "slideIndex doesn't seem to be respected in v5"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-04-16 13:25] ValGeorgiev commented on #884
Hey @geoffharcourt thanks for raising this with us. I created a PR with a fix and will deploy it in a bit.

[2022-04-16 16:17] #884 closed

[2022-04-16 16:19] ValGeorgiev commented on #884
slideIndex should work as expected in v5.0.13. Thanks for raising this again

[2022-04-16 16:21] ValGeorgiev commented on #594
This should be fixed in v5. Please raise another issue or reopen this if you are still reproducing it. Thanks

[2022-04-16 16:21] #594 closed

[2022-04-19 00:52] daxamayac commented on #879
Hi all problems are resolved.

[2022-04-19 06:14] #879 closed

[2022-04-22 22:02] riceboyler opened #889 "`@types/react` requires explicit children in props starting with v18"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using?
  5.0.13
- What version of React are you using?
  18.0.0
- What browser are you using?
  Irrelevant, but Microsoft Edge (Chromium)

### Describe the Problem
As of `@types/react@18.0.0` children is no longer included as an implicit prop, which causes issues for Carousel as `children` is not an explic

[2022-04-23 16:20] parkersweb opened #891 "Slide height "max" in v5"
### Describe Your Environment

- nuka-carousel : v5.0.13
- react: 17.0.2
- Chrome 100

### Describe the Problem

I feel like I'm missing something obvious - but since the removal of `heightMode="max"` in v5 I can't seem to find an easy way to make the content of all slides the height of the container? Rendering `.slide` with inline style of `display:inline-block; height: 100%` doesn't cause those

[2022-04-26 06:18] ValGeorgiev commented on #891
Hey @parkersweb, thanks for raising this with us. I can verify the issue and I will fix it now. Cheers

[2022-04-26 15:35] arunabhg opened #892 "Vite gives error while running an application having nuka-carousel"
# Bugs and Questions
Vite gives an error while running an application having nuka-carousel

### Describe Your Environment

- What version of nuka-carousel are you using?
- 5.0.13
- What version of React are you using?
- 17.0.2
- What browser are you using?
- Google Chrome 100.0.4896.127

### Describe the Problem

When running my vite React project by using `npm run dev`, I'm getting the following

[2022-04-27 06:17] #889 closed

[2022-04-27 06:34] #892 closed

[2022-04-27 07:05] ValGeorgiev commented on #892
Hey @arunabhg, thanks for raising this with us. I make the changes and publish it in v5.0.14 . Please let me know if you still reproduce the issue

[2022-04-27 07:06] ValGeorgiev commented on #889
Hey @riceboyler thanks for raising this with us and specially about your PR. I merged and publish it to v5.0.14. Thanks again

[2022-04-27 07:35] parkersweb commented on #891
Thanks so much @ValGeorgiev  - I've been forcing a flex layout in the meantime to work around the problem - so that sounds perfect. I'll try it out and report back.

[2022-04-27 15:11] arunabhg commented on #892
The issue seems to be taken care of in the latest version. Running fine now. Happy to contribute

[2022-04-29 15:31] parkersweb commented on #891
New layout works great now - thank you @ValGeorgiev 🙏

[2022-04-30 16:01] ValGeorgiev commented on #702
Hey @mrsamse, thanks for raising this with us and sorry that it took us so long to get back to you. We released v5 of nuka-carousel and now you can achieve this easily with just onClick on slides, this is a rare case, so if there is a big need for such feature we can add a custom event. I created a sandbox with an example, [here is a link](https://codesandbox.io/s/jovial-pike-6mip4c?file=/src/App.

[2022-04-30 16:01] #702 closed

[2022-04-30 16:06] ValGeorgiev commented on #684
Hey @p45mark thanks for raising this with as, this should be fixed with the latest release 5.0.14. I will close this for now, please let me know if you have any other issues.

[2022-04-30 16:06] #684 closed

[2022-04-30 16:08] ValGeorgiev commented on #72
I will close this for now due to inactivity, please raise another issue if this is still needed.

[2022-04-30 16:08] #72 closed

[2022-05-01 15:44] ValGeorgiev commented on #874
Hey @jckli I was able to reproduce the issue in the end of the day. I created a fix and release it. It should be in v5.0.15. Thanks for raising this with us.

[2022-05-01 15:47] ValGeorgiev commented on #178
I will close this due to inactivity, please reopen it if you still can reproduce it with v5. We will look to make some more performance improvements in v5.1 and v6. Thanks

[2022-05-01 15:47] #178 closed

[2022-05-01 22:02] jckli commented on #874
@ValGeorgiev Cool! Thanks for creating the feature.

[2022-05-15 21:39] jephjohnson opened #898 "Get length of items in carousel when carousel is created in a loop"
I am creating multiple carsouels in a loop based off an array of data.

[code]
In my previous and next event handlers how can I go about getting the length of the items in the particular carousel I am on?

Say If my first carousel has 10 items, next has 20 items...etc. How do I get referece to this? Passing a custom prop or slidesCount does not work.

[code]

[2022-05-16 10:05] ValGeorgiev commented on #898
Hey @jephjohnson thanks for raising this with us, I will try to reproduce it and fix it asap

[2022-05-16 17:27] jephjohnson commented on #898
Hi @ValGeorgiev - This seems to resolve my issue. If the items length is less then "slidestoshow" then dont show the "next" or if the the carousel is at the end up the list hide the "next" button.

This worked:
....
[code]

[2022-05-16 17:59] #898 closed

[2022-05-17 07:47] cabbage-cart commented on #865
Any word on that migration guide?

[2022-05-17 08:02] ValGeorgiev commented on #865
Hey @cabbage-cart unfortunately I need more time to finish this. As there were some other priorities that came in between. Please let us know if you have any struggles with v5 and we can help. The documentation is updated and the types are set correctly.

[2022-05-20 10:04] tpriyesh opened #902 "How to know whether swipe is top/bottom(vice-versa) or left/right(vice-versa)"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-05-29 13:58] ValGeorgiev commented on #902
Hey @tpriyesh we need more information about the issue or question that you have. Thanks

[2022-05-31 09:05] vala opened #905 "Can't get nuka-carousel to work when added as a local package"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-05-31 10:30] ValGeorgiev commented on #905
Hey @vala I just cloned your repo, run `yarn` and then `yarn start` and it's working properly. Could you try again these steps, please? And let me know if it's still not working.

On the other side, I would recommend just use the nuka repo for such testing and playing.
1. Clone nuka-carousel repo
2. Run `yarn` on root level, run `yarn` on examples/nextjs level
3. Run `yarn start:next` on root leve

[2022-06-02 08:33] #905 closed

[2022-06-07 14:09] #902 closed

[2022-06-15 11:27] palakdua95 commented on #773
It is not seems to be working with nuka-carousel version 5.1.1

[2022-06-15 11:37] ValGeorgiev commented on #773
Hey @palakdua95 could you clarify what is not working. I can see that the last image is center aligned in the provided sandbox. Also I saw my example link is not working any more so, here is another [example](https://nuka-carousel-next.vercel.app/?slides=6&params=%7B%22slidesToShow%22:3,%22cellAlign%22:%20%22center%22%7D)

[2022-06-15 12:11] palakdua95 commented on #773
Hi @ValGeorgiev , currently carousel center align  is working fine with version "4.7.9". As soon as I change version of nuka-carousel to 5.1.1 , images are not getting center aligned as expected . To replicate the same , please change the version of nuka to 5 and above and see the carousel behaviour. codesandbox example link of yours is working fine now. There was some intermittent issue with code

[2022-06-15 12:23] ValGeorgiev commented on #773
Hey @palakdua95 yes, it's not working out of the box when you upgrade the library. There some changes needed, as we rebuilt the whole library from scratch in v5. Here is an example with [code sandbox](https://codesandbox.io/s/shy-sun-qm2qtk?file=/src/index.js). We are giving more freedom to the developers with the library now, just to be more flexible. On the other side we are aware of an issue ab

[2022-06-15 13:20] palakdua95 commented on #773
Hi @ValGeorgiev , was going through your example and could see that center aligning is resolved, but in our case , we want slidesToShow in 1.25 floating number. We will be very thankful to you if you could suggest any workaround to achieve this.

[2022-06-16 08:11] palakdua95 commented on #773
Hi @ValGeorgiev , could you please let me know the tentative time where we will start getting support of floating numbers as well. Counting on it , as we have already plugged this carousel and finding it really great and lightweight. Thanks in advance.

[2022-06-16 09:13] ValGeorgiev commented on #773
Hi @palakdua95 we have a PR already https://github.com/FormidableLabs/nuka-carousel/pull/901 which I need to review, test and merge. So I will say 1 week. I am very busy at the moment, but will do it asap

[2022-06-21 07:10] chocovelod opened #913 "Body scroll disabled"
Hey!
The body does not scroll vertically on the carousel, how can this be fixed?

[2022-06-21 07:16] ValGeorgiev commented on #913
Hey @chocovelod, could you give more information, what you mean about body doesn't scroll vertically? Screenshot and code sandbox it will be useful

[2022-06-21 07:44] chocovelod commented on #913
<img width="378" alt="Снимок экрана 2022-06-21 в 10 41 56" src="https://user-images.githubusercontent.com/65286428/174744150-a96acfe5-9b56-4f7f-96bb-e5aac03bd598.png">

I cant scroll page when my finger on carousel container. Only carousel items swiping.

[2022-06-21 08:07] ValGeorgiev commented on #913
I was able to reproduce it on real device, I will have a look. Thanks for letting us know

[2022-06-21 09:21] ValGeorgiev commented on #773
@palakdua95 cellAlign with 1.5/1.25 should work with nuka-carousel@5.1.2

[2022-06-21 09:49] ValGeorgiev commented on #913
FYI: this was disabled because of this issue. #874 . I am looking for a fix, that will make everyone happy :)

[2022-06-21 10:03] chocovelod commented on #913
I think it's nice to have some property that can change overflow-y to "auto". Might be helpful

[2022-06-21 10:26] palakdua95 commented on #773
Yes, it is working perfectly fine now. Thanks a ton :)

[2022-06-29 21:40] zdolin opened #914 "Current (active) slide should have an indicator class applied"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? v5.1.2
- What version of React are you using? React 17.0.2 (also 18.0)
- What browser are you using? Chrome

### Describe the Problem

Codesandbox:
https://codesandbox.io/s/cranky-sea-j5uszw

**Expected behavior:** Current (active) slide should have an indicator class applied (".slide-current" or si

[2022-06-29 21:43] zdolin commented on #914
Note this occurs when using the following combination of props (see codesandbox above):
[code]
I think the key issue is `slidesToShow` being greater than 1, which means multiple slides are visible at once and therefore it cannot be distinguished which is the active slide.

[2022-06-30 06:17] ValGeorgiev commented on #914
Hey @zdolin thanks for raising this with us. It sounds easy to fix, I will prepare something today 🤞

[2022-06-30 12:53] zdolin commented on #914
@ValGeorgiev great, thank you so much! Did you see my note about the wrapAround behavior as well? I can log a separate ticket for that, if you'd prefer.

[2022-06-30 12:59] ValGeorgiev commented on #914
@zdolin Yes, another issue with sandbox will do the job. Thanks

[2022-06-30 13:04] #914 closed

[2022-06-30 13:06] ValGeorgiev commented on #914
This should be fixed in v5.1.3

[2022-06-30 13:19] zdolin opened #916 "wrapAround behavior is not seamless when items visible is greater than number of items"
### Describe Your Environment

- What version of nuka-carousel are you using? v5.1.2
- What version of React are you using? React 17.0.2 (also 18.0)
- What browser are you using? Chrome

### Describe the Problem

Codesandbox:
https://codesandbox.io/s/cranky-sea-j5uszw

**Expected behavior:** Carousel wrapAround behavior appears as seamless when hitting Next/Prev
**Actual behavior:** Cloned slides

[2022-07-06 13:10] gksander opened #917 "https://github.com/FormidableLabs/nuka-carousel/projects/2#card-79730639"

[2022-07-06 13:10] #917 closed

[2022-07-06 13:11] gksander opened #918 "[v6] Add new property which stops autoplay when user interacts with carousel buttons"
Add a carousel prop that will cancel autoplay when user interacts with carousel controls.

[2022-07-06 13:13] gksander opened #919 "[v6] bug: quickly navigating through slides causes the animation to be janky"
Quickly navigating through slides causes the animation to be janky. We should address this so that transitions are always smooth. (Consider throttling/debouncing slide transitions if that'll improve UX)

[2022-07-06 13:14] gksander opened #920 "[v6] Drop v4 support"
Drop v4 support, which will involve condensing to a single `src` folder (instead of carrying around a `src-v*` _and_ a `src` folder.

[2022-07-06 13:15] gksander opened #921 "[v6] Carousel slide easing"
Add support for configurable slide easing.

[2022-07-06 13:15] gksander opened #922 "[v6] Vertical carousel"
Add support for vertical carousels.

[2022-07-06 13:16] gksander opened #923 "[v6] `slidesToShow` should support decimal number as well"
`slidesToShow` should support decimal number as well so that a fractional number of slides can be shown at a time.

[2022-07-06 13:16] gksander opened #924 "[v6] Documentation site"
Add `Examples.md` file with different examples to provide more example use-cases.

[2022-07-11 10:36] kanav4 commented on #599
swiping left and right with mouse is still not working
can you please provide me with the solution for this

[2022-07-13 23:13] rngyn opened #926 "Replacement v5 parameter for v4 parameter 'frameOverflow'"
Hello,

I'm trying to upgrade all my v4 carousels to v5 and was wondering if there's an elegant way to have the now deprecated v4 parameter 'frameOverflow' work in v5. Would I have to rely on CSS styling targeting something specific within the carousel? Apologies if this is a basic question.

Thanks

[2022-07-14 00:16] #926 closed

[2022-07-14 21:28] rngyn opened #927 "Fixed width for slides does not behave responsively"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using? 5.1.3
- What version of React are you using? 18.0.0
- What browser are you using? Chrome

### Describe the Problem

https://codesandbox.io/s/brave-wing-6ml10g

**Expected behavior:** Slides should keep their fixed width with consistent spacing in-between when resizing the window. More cards should s

[2022-07-15 12:25] zdolin opened #928 "Cloned slides exhibit zoom animation behavior"
### Describe Your Environment

- What version of nuka-carousel are you using? 5.1.3
- What version of React are you using? 17.0.2
- What browser are you using? Chrome

### Describe the Problem

See example here https://codesandbox.io/s/upbeat-pateu-ylg2v9

**Expected behavior:** When setting animation to "zoom", only the current slide should scale.
**Actual behavior:** When setting animation to "z

[2022-07-19 14:31] gksander opened #930 "[v6] Converge examples, move to (pnpm) workspace to share core with examples"
There are currently two example apps in Nuka:

- A webpack-based sample that lives in `/demo`, and appears to be a bit dated.
- A Next.js app that lives in `examples/nextjs`. This app has its own set of dependencies from the rest of the codebase, but "reaches out" to grab nuka source files for its own use.

We should tackle the following work to clean this up a bit:

- [ ] We should ditch the webp

[2022-07-19 19:59] #920 closed

[2022-07-19 20:00] gksander opened #931 "[v6] Unit test suite"
With v5, we dropped a lot of our test suite for the new code. We should work on restoring our unit test suite so that our current code is well-tested.

[2022-07-22 19:30] #930 closed

[2022-07-25 14:33] zdolin commented on #928
@ValGeorgiev any thoughts on fixing this one?

[2022-07-25 14:34] ValGeorgiev commented on #928
Hey @zdolin sorry for the late response, but I am super busy on other stuffs. I will prepare a PR for you asap. Thanks for raising this with us.

[2022-07-25 14:53] zdolin commented on #928
@ValGeorgiev understood! much appreciated

[2022-07-28 06:11] ValGeorgiev commented on #928
I will prepare a release today, which will include this fix

[2022-07-28 14:27] ValGeorgiev commented on #928
This fix is included in v5.2.0, please reopen or open other issue if you are still reproducing it. Thanks again for raising this with us

[2022-07-28 14:27] #928 closed

[2022-07-28 20:11] zdolin commented on #916
@ValGeorgiev any thoughts on this one?

[2022-07-28 20:20] zdolin commented on #916
I noticed that the amount of total items in the carousel must be at least double the number of slidesToShow in order to loop without gaps or buggy movement.

[2022-07-29 05:55] ValGeorgiev commented on #916
Understand the issue. There are potential ways of fixing this, but will require a lot of effort. I will try to find some time to work on it.

Out of curiosity, is this a production scenario? It's not great to have duplicated visible elements on the screen, that was the main reason we didn't work on it from the beginning.

[2022-07-29 13:37] zdolin commented on #916
@ValGeorgiev thanks for your reply and understood re: level of effort. This isn't a production scenario, but we'd need to use another lib unless this is fixed since we will eventually be deploying to production. Originally we had 12 items in the carousel, which worked nicely, but now there are only 4, so the carousel exhibits the buggy behavior-- particularly when scrolling left/prev.

[2022-08-02 15:59] mpedersen15 opened #942 "`disableEdgeSwiping` prevents successive forward swipes"
# Bugs and Questions

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Enviro

[2022-08-03 14:02] #919 closed

[2022-08-04 14:46] fritz-c commented on #931
#941 and #947 added back in some basic jest tests for some utility functions, just FYI.

[2022-08-04 20:16] victorakioz opened #951 "Empty slide rendered with false conditional"
# Bugs and Questions

### Describe Your Environment

- What version of nuka-carousel are you using?
5.2.0
- What version of React are you using?
18.2.0
- What browser are you using?
Brave

### Describe the Problem

When having a slide that should be conditionally rendered, if false an empty slide is rendered instead of none.

Code sandbox reproduction: https://codesandbox.io/s/heuristic-stonebrake

[2022-08-10 20:25] rngyn commented on #927
Would anyone from the nuka carousel team be able to look into this? Thanks

[2022-08-11 07:34] ValGeorgiev commented on #927
Hey @rngyn What is the reason to have fixed width for the slides? How this behaves on mobile or tablet?

On the other side the goal of nuka-carousel v5 is to be mobile first and responsible as possible. Fixed width is not recommended, we are pushing for responsive content that can be easily visible and accessible on any device by just manipulating how many slides you want to display (`slidesToShow

[2022-08-11 07:39] ValGeorgiev commented on #951
Hey @victorakioz Thanks for raising this with us. Fix is coming

[2022-08-18 16:27] fritz-c commented on #942
Thank you for creating the issue and the minimal reproduction sandbox. Indeed, this does look like a bug. We have a few yet-unreleased [bugfixes that can be seen in action on the demo site](https://nuka-carousel-next.vercel.app/?slides=4&params=%7B%22disableEdgeSwiping%22:true,%22slidesToShow%22:3%7D).

Does this better represent the behavior you expect?

It does not match your described "expected

[2022-08-18 17:57] mpedersen15 commented on #942
Thank you for the thorough explanation @fritz-c ! I understand now that the lack of scrolling in my demo/sandbox was due to the last slide in the carousel already being visible. I do think that the demo site version (only show TWO dot indicators) is a step in the right direction! Showing more dot indicators than are scrollable (as in my sandbox) is definitely confusing.

[2022-08-18 18:11] fritz-c commented on #874
Reopening this as it is an issue again in 5.2.0 (the previous change was reverted intentionally because it caused the bug described in #913 )

[2022-08-18 18:11] fritz-c commented on #913
As of 5.2.0, this has been fixed. You can test here to see:
https://codesandbox.io/s/blazing-moon-duy07s

[2022-08-18 18:11] #913 closed

[2022-08-18 18:17] #682 closed

[2022-08-18 18:22] fritz-c commented on #546
We don't use setInterval for autoplay any more, so this is unlikely to come up.

[2022-08-18 18:22] #546 closed

[2022-08-18 18:26] fritz-c commented on #498
It appears we don't use the large negative `left` value for `AnnounceSlide` any more, so presumably this issue as described is fixed.

[2022-08-18 18:26] #498 closed

[2022-08-18 18:26] #497 closed

[2022-08-18 18:31] fritz-c commented on #447
This appears to be working normally in v5.2.0

[2022-08-18 18:31] #447 closed

[2022-08-18 18:33] fritz-c commented on #406
This appears to be working in v5.2.0
demo: https://codesandbox.io/s/silly-roentgen-mylgix

[2022-08-18 18:33] #406 closed

[2022-08-18 18:42] fritz-c commented on #11
HTML-native lazy loading works:
https://codesandbox.io/s/kind-noether-gz172v

[2022-08-18 18:42] #11 closed

[2022-08-18 18:44] #43 closed

[2022-08-18 19:01] fritz-c commented on #923
This works already:
https://nuka-carousel-next.vercel.app/?slides=4&params=%7B%22disableEdgeSwiping%22:true,%22slidesToShow%22:2.2%7D

[2022-08-18 19:01] #923 closed

[2022-08-18 19:11] fritz-c commented on #918
Related: #499

[2022-08-18 19:29] fritz-c commented on #689
This was a bug. It will be fixed in the next version release (right now it's v5.2.0, the next will probably be v5.3.0).
Demo of the fixed carousel: https://nuka-carousel-next.vercel.app/?slides=4&params=%7B%22dragging%22:false%7D

[2022-08-18 19:47] fritz-c commented on #631
I could not reproduce this on macOS+Edge with the latest version of nuka-carousel (v5.2.0).
demo: https://codesandbox.io/s/nuka-carousel-example-forked-10ep9v?file=/src/App.js

[2022-08-18 23:11] rngyn commented on #927
Hi @ValGeorgiev, thanks for responding. The reason I need a fixed width for the slides is that its contents and styling are bound to this fixed width (think of the slides as cards). These cards stay 280px wide and are always 14px apart from one another. Ideally on mobile I'd like to see the slides still be 280px but show less "cards" in the carousel versus a wider screen. The carousel parent itsel

[2022-08-22 06:16] ValGeorgiev commented on #951
Still not released, I will reopen it for now

[2022-08-23 12:25] mrsamse opened #960 "Add possibility to remove "inert" tag"
Hi guys!

With this pull request here: https://github.com/FormidableLabs/nuka-carousel/pull/839 the html "inert" was introuduced.
This is a nice feature and I understand why it was introduced, but I have a problem with it:

In my slider the slides next to the current slide are also visible. And some of my users click on those slides to change the current slide. That's why I attached onClick handle

[2022-08-23 13:06] #960 closed

[2022-08-23 14:26] mrsamse opened #961 "Do not set "inert" for half visible slides"
Describe Your Environment
What version of nuka-carousel are you using? 5.2.0
What version of React are you using? 18.0.0
What browser are you using? Chrome Version 103.0.5060.114

Is it possible to remove the "inert" tags on slides which are not completely visible?
You can achieve this behaviour if you set the slidesToShow parameter to "1.5" and the cellAlign parameter to Alignment.Center.
I want

[2022-08-24 06:30] ValGeorgiev commented on #951
This should be fixed with the latest release 5.3.0. Thanks for raising this with us.

[2022-08-24 06:30] #951 closed

[2022-08-29 14:22] fritz-c commented on #689
This is now fixed in v5.3.0

[2022-08-29 14:22] #689 closed

[2022-08-29 14:22] fritz-c commented on #942
This is now fixed in v5.3.0

[2022-08-29 14:22] #942 closed

[2022-09-01 09:47] Totara-thib opened #962 "Can't override the dots width"
# Bugs and Questions

First of all thank you for your amazing tools.

### Prerequisites

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Environment

- What version of nuka-carous

[2022-09-05 21:49] fritz-c commented on #961
Here's a minimal example of that working on v5.3.0
https://codesandbox.io/s/nuka-carousel-click-slide-to-change-example-spge74?file=/src/App.js

It appears the `inert` issue you mentioned was fixed in v5.3.0

[2022-09-05 22:07] fritz-c commented on #962
You can use a CSS transform to scale it up for now. We might look into making it a bit more flexible by default.
https://codesandbox.io/s/big-paging-dots-example-nuka-carousel-ruhsqd?file=/src/styles.css

[2022-09-05 22:10] fritz-c commented on #962
This would seem to fix it in the source:
[code]

[2022-09-06 12:24] mrsamse commented on #927
This is exactly the functionality I am missing in v5 at the moment. If someone could take a look at this so that fixed widths could be assigned, I would be very grateful.

[2022-09-06 12:25] mrsamse commented on #961
Works with v5.3. Thanks!

[2022-09-06 12:25] #961 closed

[2022-09-06 16:22] #795 closed

[2022-09-06 16:24] fritz-c commented on #789
We do not bundle in `wicg-inert` since v5.0.0, so I am assuming this issue is not present in the newest versions.

[2022-09-06 16:24] #789 closed

[2022-09-06 17:24] #962 closed

[2022-09-06 17:31] fritz-c commented on #727
Detecting the loading of the slide contents is more the responsibility of the library user (e.g., if you want to detect when all the slide images loaded, etc, you'd pass in your own `onLoad` handler to each image's props). As for the first render, React's lifecycles or `React.useEffect` could be used to detect such timing. I will close this for the time being. If you have a more specific example t

[2022-09-06 17:31] #727 closed

[2022-09-06 18:35] fritz-c commented on #699
Here's an example of a variable `autoplayInterval` to solve the issue you originally intended to tackle:
https://codesandbox.io/s/variable-autoplayinterval-nuka-carousel-ohsoub?file=/src/App.js
It has just a very slight flaw, described in the HTML of the demo. I believe an upcoming release will take care of that.

As for avoiding zooming, it's an inherent issue that we cannot differentiate between

[2022-09-06 18:41] #631 closed

[2022-09-09 00:10] kevinmachstudio opened #967 "Using react icons for the Prev/Next in carousel"
Hi, using version 5.0.15 of nuka carousel. Is it possible to use a react icon (e.g. arrows) for the Prev / Next ? If so how can we go about it? I saw in an old post of using `decorators` property but that doesn't seem to exist anymore in this version and instead it's using fields in `defaultControlsConfig` that require a `string` or `React.CSSProperties`

[2022-09-09 15:49] fritz-c commented on #967
Here's a demo of the most straightforward way to go about it:
https://codesandbox.io/s/custom-button-image-i80qog?file=/src/App.js:799-877

The important part:
[code]
The spans are just there to show that you could plug in any element or React component you want.

[2022-09-09 17:24] kevinmachstudio commented on #967
@fritz-c awesome that works, only thing is I'm using Typescript and am getting this error since it's expecting a string, any recommendations on how to get rid of this error?

[code]

[2022-09-09 17:44] fritz-c commented on #967
Yeah, unfortunately that's where the library's a bit more strict than it apparently needs to be. You could do either one of `<MdNavigateNext /> as any` or `<MdNavigateNext /> as unknown as string` and get it off your back.

[2022-09-09 17:49] kevinmachstudio commented on #967
no problem, that works too, thanks @fritz-c

[2022-09-09 17:49] #967 closed

[2022-09-09 21:05] fritz-c commented on #918
I'm in the process of [adding an `onUserNavigation` callback](https://github.com/FormidableLabs/nuka-carousel/compare/feat/default-controls-onclick-handlers) that would make this behavior easily achievable while allowing for a bit more flexibility in exactly how the autoplay stops and starts. For example, rather than disabling autoplay completely, they could merely set a longer `autoplayInterval`

[2022-09-12 15:28] #916 closed

[2022-09-12 19:04] fritz-c opened #969 "[v6] Expand ref type, use React.forwardRef"
The prop `innerRef` does not allow the ref to point to a `null` value, even though that is the unavoidable initial value prior to first render. This will require library users to jump through some TypeScript hoops to make sure they can pass their ref to `innerRef`.
https://github.com/FormidableLabs/nuka-carousel/blob/df842370ff3cc1b4f95d6171a2998c31a608da0d/packages/nuka/src/types.ts#L330

One opt

[2022-09-14 15:03] #499 closed

[2022-09-14 15:03] #918 closed

[2022-09-22 15:45] fritz-c commented on #699
Actually, it looks like that previous version was not all that janky, and a [demo using the current nuka-carousel version](https://codesandbox.io/s/janky-slideindex-exceeding-example-forked-gijbe3?file=/src/App.js) works just fine with it as well. Going to close this issue.

[2022-09-22 15:45] #699 closed

[2022-09-22 16:01] fritz-c commented on #351
Here's a demo of detecting the type of user interaction with `onUserNavigation`. I think if you wanted to know the destination slide, you'd have to use a ref or something to temporarily store the interaction type so you could combine it with the immediately following `beforeSlide` callback's info.
https://codesandbox.io/s/detect-navigation-type-nuka-carousel-eiuriu

[2022-09-26 14:35] puyanwei opened #973 "Type '"center"' is not assignable to type 'Alignment'"
Just a typescript error, thought I'd let you guys know. Still behaves as expected tho.

![image](https://user-images.githubusercontent.com/14803518/192303648-95e193e8-58c9-4e74-8f49-326ab58aa029.png)

![image](https://user-images.githubusercontent.com/14803518/192303714-264e2035-c49a-462d-a1ac-209de443956e.png)

Drilling down its confirmed that its the correct prop.
![image](https://user-images.gi

[2022-09-26 18:09] #973 closed

[2022-09-28 06:41] MrHumble21 opened #976 "failed to parse source map from 'E:\merit\node_modules\nuka-carousel\src\announce-slide.tsx'"
# Bugs and Questions

### Prerequisites

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Environment

- What version of nuka-carousel are you using?
- What version of React are yo

[2022-09-28 06:42] MrHumble21 commented on #976
{
  "name": "merit",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@testing-library/jest-dom": "^5.16.5",
    "@testing-library/react": "^13.4.0",
    "@testing-library/user-event": "^13.5.0",
    "nuka-carousel": "^5.4.0",
    "react": "^18.2.0",
    "react-countup": "^6.3.1",
    "react-dom": "^18.2.0",
    "react-icons": "^4.4.0",
    "react-scripts": "^5.0.1",
    "web-vita

[2022-09-28 14:33] fritz-c commented on #976
Could you make a minimal reproduction repo on github and share the link with me?

[2022-10-08 20:16] niteshreddy6690 opened #977 "useRef is returning undefined for nuka-Carousel"
How To use UseRef In nuka-carousel element to retrieve the default Properties.

I have an Array of Products Which contains an Array of images.
When I onMouseEnter a  Respective Product Autopay Should  Star,  onMouseLeft  respective AutoPlay Should Stop.

I have Used a useRef but it's returning Undifined.

can Some Please Help me Achieve this.

![image](https://user-images.githubusercontent.com/376

[2022-10-09 20:42] rngyn commented on #927
Is there anyone that could look into this?

[2022-10-17 03:20] kevinmachstudio opened #978 "centering images inside the carousel"
is there a way to center the images in the carousel? I've tried the following although it's still being aligned left

[code]

<img width="400" alt="image" src="https://user-images.githubusercontent.com/6373887/196081986-d94818aa-785e-444c-b10d-5306c6073697.png">

<img width="959" alt="image" src="https://user-images.githubusercontent.com/6373887/196081885-95316fa6-a322-48e6-b04b-630369f8d888.png">

[2022-10-18 18:27] allypalanzi commented on #927
same, this is the same issue i'm looking for. i don't know how many slides i want to show on any given screen size, i just know what width i want my slides to be and want whatever can fit to show.

[2022-10-18 22:13] allypalanzi opened #979 "possible to replicate slidesToScroll="auto" in v5?"
# Bugs and Questions

### Prerequisites

- [x] I've searched open [issues](https://github.com/FormidableLabs/nuka-carousel/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the docs before asking a question
- [x] I am using the latest version of nuka-carousel

### Describe Your Environment

- What version of nuka-carousel are you using? 5.4

### Describe the Problem

[2022-10-25 03:37] panigrah opened #980 "Controlled Carousel using afterSlide and slideIndex results in infinite loop"
This was closed in #416 - but still there in latest.

###Recreating issue
Sandbox with behavior

https://codesandbox.io/s/inspiring-nightingale-6felod?file=/src/App.js

Am using the latest Nuka 5.4, React 18.2

### Describe the Problem
Controlled Carousel ends up in an infinite loop if the "next" and "prev" buttons are clicked really fast.

[2022-10-25 13:50] fritz-c commented on #980
Try with `beforeSlide`:
https://codesandbox.io/s/laughing-tree-gzoru1?file=/src/App.js

[2022-10-31 16:17] allypalanzi commented on #927
is there any update on if this could be addressed?

[2022-10-31 17:11] vaishal commented on #927
Hey all, I’m working on implementing `slideWidth` into v5. Thanks for the codesandbox example @rngyn.

[2022-11-01 22:45] allypalanzi commented on #927
amazing, thanks!

[2022-11-08 16:50] mattzque commented on #874
I have the same issue, I see that the previous attempt at a fix was reverted (PR by @ValGeorgiev) it used "touch-action: none" on the slide. Just a note the none value is unsupported in iOS Safari i believe[1].

I'm not 100% sure but I believe the way the slick carousel is solving the issue is using "touch-action: pan-y" [2], applying it to the slider-frame element seem to fix the issue for me but

[2022-11-11 10:40] parkersweb opened #982 "Slider frame tabIndex accessibility issues"
We've recently had an external accessibility audit on a site built with lots of nuka-carousel.

An issue they're currently failing us on is that the slider frame container has `tabIndex=0` applied to it - which is considered a fail as it enables the element to receive focus without being interactive.

That sounds logical - but does anyone know why tabIndex was added to that element?

[2022-11-11 14:12] fritz-c commented on #982
I'm assuming it was put there for the case where `enableKeyboardControls` is set to true. Maybe we should set `tabIndex={-1}` when `enableKeyboardControls` is not true.

For the time being, maybe you could enable keyboard controls to pass your audit? I'm not quite sure why the component doesn't have them on by default.

[2022-11-12 19:24] parkersweb commented on #982
Ah - thanks @fritz-c  - I did wonder if that was the original intent. Enabling keyboard controls is a good suggestion which we might use to pass the audit - in the meantime I've submitted a PR to make that attribute conditional on `enableKeyboardControls`.

[2022-11-15 17:15] #982 closed

[2022-11-24 15:24] donaldboulton commented on #924
How about a react example In typescript. Get type errors and cannot figure it out, finds object but requires a string with not other error info